### Information Retrieval   |    Assignment 1-B

Step 1:

In [4]:
import pandas as pd
import numpy as np
import sys
import os

In [43]:
df_raw = pd.read_table('YandexRelPredChallenge.txt', delimiter="\t",index_col=None, 
                 header=0,names=['SessionID', 'TimePassed','TypeOfAction', 'QueryID','RegionID', 'ListOfURLs', 'URLID',
                                 '1','2','3','4','5',"6",'7','8'])
df_raw

In [95]:
# Open file    
fileHandler = open ('YandexRelPredChallenge.txt', "r")
# Get list of all lines in file
listOfLines = fileHandler.readlines()
# Close file 
fileHandler.close()
#Empty frame to fill in
index=[x for x in range(0,100000)]
df = pd.DataFrame(index=index, columns=['SessionID', 'TimePassed',
                 'TypeOfAction', 'QueryID','RegionID', 'ListOfURLs', 'URLID'])
df.name='data'

# Iterate over the lines and fill in the dataframe
for ind, line in zip(index, listOfLines):
#     print('index')
    line = line.strip().split()
    if line[2]=='Q':

        df.loc[ind] = pd.Series({'SessionID':line[0], 'TimePassed':line[1], 'TypeOfAction':line[2],
                                     'QueryID':line[3],'RegionID':line[4], 'ListOfURLs':line[5:], 'URLID':np.nan})
    else:
        df.loc[ind] = pd.Series({'SessionID':line[0], 'TimePassed':line[1], 'TypeOfAction':line[2],
                                     'QueryID':np.nan,'RegionID':np.nan, 'ListOfURLs':np.nan, 'URLID':line[3:]})

In [100]:
# Getting the types right. 
df.SessionID = df.SessionID.astype(int)
df.TimePassed = df.TimePassed.astype(int)
df.TypeOfAction = df.TypeOfAction.astype(str)
df.RegionID = df.RegionID.astype(float)
df.TimePassed = df.TimePassed.astype(float)
def parse_ulrid(x):
    if type(x)==list:
        return x[0]
    else:
        return x
df.URLID = df.URLID.apply(parse_ulrid)

Inspect

In [182]:
df

,SessionID,TimePassed,TypeOfAction,QueryID,RegionID,ListOfURLs,URLID,rank_e,rank_p
0,0,0.0,Q,8,0.0,"[7, 103, 51, 92, 43, 12, 73, 69, 27, 105]",NaN,"[0, 1, 1]","[0, 1, 1]"
1,0,36.0,Q,174,0.0,"[1625, 1627, 1623, 1626, 1624, 1622, 1619, 162...",NaN,"[1, 1, 1]","[0, 1, 1]"
2,0,50.0,Q,227,0.0,"[2094, 2091, 2087, 2089, 2093, 2088, 2090, 209...",NaN,"[0, 1, 0]","[0, 1, 0]"
3,0,515.0,Q,174,0.0,"[1625, 1627, 1623, 1626, 1624, 1622, 1619, 162...",NaN,"[1, 1, 1]","[0, 1, 1]"
4,0,524.0,Q,1974,0.0,"[17562, 1627, 1626, 1623, 2091, 17559, 17563, ...",NaN,"[1, 1, 0]","[0, 0, 0]"
5,0,527.0,C,NaN,NaN,NaN,17562,NaN,NaN
6,0,528.0,C,NaN,NaN,NaN,1627,NaN,NaN
7,0,529.0,C,NaN,NaN,NaN,1626,NaN,NaN
8,1,0.0,Q,9,0.0,"[13, 70, 66, 94, 50, 104, 29, 21, 89, 85]",NaN,"[0, 1, 1]","[1, 0, 0]"
9,1,20.0,C,NaN,NaN,NaN,104,NaN,NaN
10,1,123.0,C,NaN,NaN,NaN,21,NaN,NaN
11,1,291.0,Q,1324,0.0,"[11807, 11805, 11812, 11813, 11804, 11809, 118...",NaN,"[1, 0, 1]","[0, 0, 1]"
12,1,301.0,C,NaN,NaN,NaN,11813,NaN,NaN
13,1,8605.0,C,NaN,NaN,NaN,11808,NaN,NaN
14,1,8737.0,C,NaN,NaN,NaN,11810,NaN,NaN
15,1,8884.0,C,NaN,NaN,NaN,11811,NaN,NaN
16,2,0.0,Q,7,0.0,"[77, 93, 55, 86, 64, 67, 76, 98, 18, 54]",NaN,"[0, 1, 1]","[0, 0, 0]"
17,2,11.0,C,NaN,NaN,NaN,18,NaN,NaN
18,2,1122.0,Q,4088,0.0,"[35554, 35561, 35562, 35556, 35557, 35567, 355...",NaN,"[1, 1, 1]","[1, 1, 1]"
19,2,1127.0,C,NaN,NaN,NaN,35561,NaN,NaN
20,2,1645.0,Q,5863,0.0,"[36505, 36514, 36508, 36509, 50480, 36510, 365...",NaN,"[1, 0, 0]","[1, 1, 1]"
21,2,1646.0,C,NaN,NaN,NaN,36505,NaN,NaN
22,3,0.0,Q,1,0.0,"[15, 32, 0, 9, 80, 30, 88, 82, 97, 65]",NaN,"[1, 1, 0]","[1, 0, 0]"
23,3,40.0,Q,32,0.0,"[314, 230, 338, 282, 335, 257, 216, 241, 342, ...",NaN,"[1, 0, 1]","[0, 0, 1]"
24,3,95.0,Q,431,0.0,"[3884, 0, 3887, 3888, 3889, 3885, 3882, 3881, ...",NaN,"[0, 1, 0]","[1, 0, 0]"
25,3,103.0,C,NaN,NaN,NaN,3884,NaN,NaN
26,3,7367.0,Q,23323,0.0,"[191148, 191149, 191144, 191145, 191151, 19114...",NaN,"[1, 1, 1]","[0, 0, 0]"
27,3,7377.0,C,NaN,NaN,NaN,191148,NaN,NaN
28,4,0.0,Q,5,0.0,"[99, 16, 87, 39, 100, 6, 36, 52, 81, 84]",NaN,"[1, 0, 0]","[0, 0, 1]"
29,4,6.0,C,NaN,NaN,NaN,84,NaN,NaN
...,...,...,...,...,...,...,...,...,...
99970,13865,748.0,C,NaN,NaN,NaN,146275,NaN,NaN
99971,13865,892.0,Q,17653,1.0,"[146275, 146276, 146279, 146280, 146273, 14628...",NaN,"[0, 1, 0]","[0, 0, 0]"
99972,13865,926.0,C,NaN,NaN,NaN,146279,NaN,NaN
99973,13865,1022.0,C,NaN,NaN,NaN,146280,NaN,NaN
99974,13865,1044.0,C,NaN,NaN,NaN,146273,NaN,NaN
99975,13865,1831.0,Q,17653,1.0,"[146275, 146276, 146279, 146280, 146273, 14628...",NaN,"[0, 1, 0]","[0, 0, 1]"
99976,13865,1837.0,C,NaN,NaN,NaN,146275,NaN,NaN
99977,13865,2063.0,C,NaN,NaN,NaN,146275,NaN,NaN
99978,13865,2236.0,C,NaN,NaN,NaN,146280,NaN,NaN
99979,13865,2298.0,C,NaN,NaN,NaN,146278,NaN,NaN
99980,13865,2457.0,C,NaN,NaN,NaN,146277,NaN,NaN
99981,13865,2550.0,C,NaN,NaN,NaN,146274,NaN,NaN
99982,13866,0.0,Q,66,0.0,"[353, 348, 384, 414, 610, 410, 372, 656, 594, ...",NaN,"[1, 0, 0]","[0, 1, 0]"
99983,13866,66.0,C,NaN,NaN,NaN,353,NaN,NaN
99984,13867,0.0,Q,2459,0.0,"[10796, 21767, 21770, 7679, 21769, 21768, 8253...",NaN,"[1, 1, 0]","[1, 0, 1]"
99985,13867,3.0,C,NaN,NaN,NaN,10796,NaN,NaN
99986,13867,120.0,C,NaN,NaN,NaN,21767,NaN,NaN
99987,13867,157.0,C,NaN,NaN,NaN,21770,NaN,NaN
99988,13867,432.0,C,NaN,NaN,NaN,7679,NaN,NaN
99989,13867,895.0,Q,18819,0.0,"[93996, 64139, 155559, 155562, 52896, 155561, ...",NaN,"[1, 1, 0]","[0, 1, 1]"
99990,13867,898.0,C,NaN,NaN,NaN,93996,NaN,NaN
99991,13867,1093.0,C,NaN,NaN,NaN,64139,NaN,NaN
99992,13867,1176.0,C,NaN,NaN,NaN,155559,NaN,NaN
99993,13867,1822.0,C,NaN,NaN,NaN,52896,NaN,NaN
99994,13868,0.0,Q,26,0.0,"[341, 246, 233, 280, 289, 301, 277, 299, 334, ...",NaN,"[1, 0, 0]","[1, 0, 1]"
99995,13868,10.0,C,NaN,NaN,NaN,341,NaN,NaN
99996,13868,24.0,Q,15741,0.0,"[130920, 125203, 130933, 130916, 130930, 13092...",NaN,"[0, 1, 0]","[1, 0, 0]"
99997,13868,36.0,Q,15775,0.0,"[411, 414, 131186, 131189, 131188, 131184, 131...",NaN,"[1, 1, 1]","[0, 1, 1]"
99998,13868,39.0,C,NaN,NaN,NaN,411,NaN,NaN
99999,13869,0.0,Q,74,0.0,"[771, 726, 778, 729, 704, 740, 687, 739, 684, ...",NaN,"[1, 0, 0]","[0, 0, 0]"

In [116]:
test = df[df.SessionID==0]

So lets say that our experimental system is what Yandex return as a list now. Production or the system that is going to 'suck' (sort of a dumb system that we are going to compare against) will be constructed as shuffling each ranking for a query.

Now, other approach, probably the better one: take the initial order as the 'benchmark' create only list of 0,1 (relevnace scores) for each system.
    - rember that we are interested only in three [3] first results.

In [230]:
# Create the relevance score ranking (those tables = that we called 'runs')
def relevance_list(l,acc=0.5, res_length=3):
    """ Control the 'accuracy'/'performance' with acc param. Only lists of length 3. """
    if type(l)==list:
        res = list()
        for x in l:
            if rnd.random()<acc:
                res.append((x,1.0))
            else:
                res.append((x,0.0))
        return rnd.sample(res, res_length)
    else:
        return l

df['rank_id_rel_e'] = df.ListOfURLs.apply(relevance_list, acc=0.7) 
df['rank_id_rel_p'] = df.ListOfURLs.apply(relevance_list)

In [231]:
def extract_rel(l):
    if type(l) == list:
        res = list()
        for tup in l:
            res.append(tup[1])
        return res
    else:
        return l
def extract_id(l):
    if type(l) == list:
        res = list()
        for tup in l:
            res.append(tup[0])
        return res
    else:
        return l
df['rank_rel_e'] = df.rank_id_rel_e.apply(extract_rel)
df['rank_rel_p'] = df.rank_id_rel_p.apply(extract_rel)
df['rank_id_e'] = df.rank_id_rel_e.apply(extract_id)
df['rand_id_p'] = df.rank_id_rel_p.apply(extract_id)

In [232]:
df

,SessionID,TimePassed,TypeOfAction,QueryID,RegionID,ListOfURLs,URLID,rank_id_rel_e,rank_id_rel_p,rank_rel_e,rand_rel_p,rank_id_e,rand_id_p,rank_rel_p
0,0,0.0,Q,8,0.0,"[7, 103, 51, 92, 43, 12, 73, 69, 27, 105]",NaN,"[(27, 0.0), (105, 1.0), (51, 1.0)]","[(12, 0.0), (103, 1.0), (27, 0.0)]","[0.0, 1.0, 1.0]","[1, 0, 0]","[27, 105, 51]","[12, 103, 27]","[0.0, 1.0, 0.0]"
1,0,36.0,Q,174,0.0,"[1625, 1627, 1623, 1626, 1624, 1622, 1619, 162...",NaN,"[(1627, 1.0), (1618, 0.0), (1624, 1.0)]","[(1627, 0.0), (1622, 1.0), (1624, 1.0)]","[1.0, 0.0, 1.0]","[0, 0, 0]","[1627, 1618, 1624]","[1627, 1622, 1624]","[0.0, 1.0, 1.0]"
2,0,50.0,Q,227,0.0,"[2094, 2091, 2087, 2089, 2093, 2088, 2090, 209...",NaN,"[(2088, 0.0), (2094, 1.0), (2090, 1.0)]","[(2092, 1.0), (2086, 1.0), (2095, 0.0)]","[0.0, 1.0, 1.0]","[0, 0, 0]","[2088, 2094, 2090]","[2092, 2086, 2095]","[1.0, 1.0, 0.0]"
3,0,515.0,Q,174,0.0,"[1625, 1627, 1623, 1626, 1624, 1622, 1619, 162...",NaN,"[(1618, 0.0), (1619, 1.0), (1623, 1.0)]","[(1623, 0.0), (1627, 1.0), (1619, 0.0)]","[0.0, 1.0, 1.0]","[1, 0, 0]","[1618, 1619, 1623]","[1623, 1627, 1619]","[0.0, 1.0, 0.0]"
4,0,524.0,Q,1974,0.0,"[17562, 1627, 1626, 1623, 2091, 17559, 17563, ...",NaN,"[(17560, 0.0), (1627, 1.0), (17561, 1.0)]","[(17561, 0.0), (2091, 1.0), (1623, 1.0)]","[0.0, 1.0, 1.0]","[0, 1, 1]","[17560, 1627, 17561]","[17561, 2091, 1623]","[0.0, 1.0, 1.0]"
5,0,527.0,C,NaN,NaN,NaN,17562,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0,528.0,C,NaN,NaN,NaN,1627,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0,529.0,C,NaN,NaN,NaN,1626,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1,0.0,Q,9,0.0,"[13, 70, 66, 94, 50, 104, 29, 21, 89, 85]",NaN,"[(70, 1.0), (66, 0.0), (50, 1.0)]","[(29, 0.0), (13, 0.0), (21, 0.0)]","[1.0, 0.0, 1.0]","[1, 1, 1]","[70, 66, 50]","[29, 13, 21]","[0.0, 0.0, 0.0]"
9,1,20.0,C,NaN,NaN,NaN,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1,123.0,C,NaN,NaN,NaN,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1,291.0,Q,1324,0.0,"[11807, 11805, 11812, 11813, 11804, 11809, 118...",NaN,"[(11808, 1.0), (11813, 0.0), (11806, 1.0)]","[(11804, 0.0), (11807, 1.0), (11811, 1.0)]","[1.0, 0.0, 1.0]","[0, 0, 0]","[11808, 11813, 11806]","[11804, 11807, 11811]","[0.0, 1.0, 1.0]"
12,1,301.0,C,NaN,NaN,NaN,11813,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1,8605.0,C,NaN,NaN,NaN,11808,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1,8737.0,C,NaN,NaN,NaN,11810,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1,8884.0,C,NaN,NaN,NaN,11811,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2,0.0,Q,7,0.0,"[77, 93, 55, 86, 64, 67, 76, 98, 18, 54]",NaN,"[(76, 1.0), (55, 1.0), (98, 1.0)]","[(76, 0.0), (86, 0.0), (55, 1.0)]","[1.0, 1.0, 1.0]","[0, 0, 0]","[76, 55, 98]","[76, 86, 55]","[0.0, 0.0, 1.0]"
17,2,11.0,C,NaN,NaN,NaN,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2,1122.0,Q,4088,0.0,"[35554, 35561, 35562, 35556, 35557, 35567, 355...",NaN,"[(35562, 0.0), (35556, 1.0), (35567, 1.0)]","[(35562, 0.0), (35553, 0.0), (35550, 1.0)]","[0.0, 1.0, 1.0]","[0, 1, 1]","[35562, 35556, 35567]","[35562, 35553, 35550]","[0.0, 0.0, 1.0]"
19,2,1127.0,C,NaN,NaN,NaN,35561,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2,1645.0,Q,5863,0.0,"[36505, 36514, 36508, 36509, 50480, 36510, 365...",NaN,"[(50480, 1.0), (50482, 1.0), (36509, 1.0)]","[(36509, 1.0), (50481, 1.0), (36514, 1.0)]","[1.0, 1.0, 1.0]","[1, 1, 0]","[50480, 50482, 36509]","[36509, 50481, 36514]","[1.0, 1.0, 1.0]"
21,2,1646.0,C,NaN,NaN,NaN,36505,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,3,0.0,Q,1,0.0,"[15, 32, 0, 9, 80, 30, 88, 82, 97, 65]",NaN,"[(9, 1.0), (15, 1.0), (30, 1.0)]","[(80, 0.0), (0, 0.0), (9, 1.0)]","[1.0, 1.0, 1.0]","[0, 0, 0]","[9, 15, 30]","[80, 0, 9]","[0.0, 0.0, 1.0]"
23,3,40.0,Q,32,0.0,"[314, 230, 338, 282, 335, 257, 216, 241, 342, ...",NaN,"[(216, 1.0), (282, 0.0), (314, 1.0)]","[(338, 1.0), (241, 1.0), (335, 1.0)]","[1.0, 0.0, 1.0]","[1, 1, 0]","[216, 282, 314]","[338, 241, 335]","[1.0, 1.0, 1.0]"
24,3,95.0,Q,431,0.0,"[3884, 0, 3887, 3888, 3889, 3885, 3882, 3881, ...",NaN,"[(3889, 1.0), (3888, 0.0), (3884, 0.0)]","[(0, 1.0), (3882, 1.0), (3888, 0.0)]","[1.0, 0.0, 0.0]","[1, 1, 0]","[3889, 3888, 3884]","[0, 3882, 3888]","[1.0, 1.0, 0.0]"
25,3,103.0,C,NaN,NaN,NaN,3884,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,3,7367.0,Q,23323,0.0,"[191148, 191149, 191144, 191145, 191151, 19114...",NaN,"[(191148, 1.0), (191144, 1.0), (191151, 1.0)]","[(191152, 0.0), (191145, 1.0), (191148, 0.0)]","[1.0, 1.0, 1.0]","[1, 0, 0]","[191148, 191144, 191151]","[191152, 191145, 191148]","[0.0, 1.0, 0.0]"
27,3,7377.0,C,NaN,NaN,NaN,191148,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,4,0.0,Q,5,0.0,"[99, 16, 87, 39, 100, 6, 36, 52, 81, 84]",NaN,"[(36, 1.0), (81, 0.0), (16, 1.0)]","[(99, 1.0), (36, 0.0), (52, 1.0)]","[1.0, 0.0, 1.0]","[1, 1, 1]","[36, 81, 16]","[99, 36, 52]","[1.0, 0.0, 1.0]"
29,4,6.0,C,NaN,NaN,NaN,84,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,13865,748.0,C,NaN,NaN,NaN,146275,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99971,13865,892.0,Q,17653,1.0,"[146275, 146276, 146279, 146280, 146273, 14628...",NaN,"[(146279, 1.0), (146278, 1.0), (146277, 1.0)]","[(146273, 1.0), (146282, 1.0), (146278, 1.0)]","[1.0, 1.0, 1.0]","[1, 1, 1]","[146279, 146278, 146277]","[146273, 146282, 146278]","[1.0, 1.0, 1.0]"
99972,13865,926.0,C,NaN,NaN,NaN,146279,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99973,13865,1022.0,C,NaN,NaN,NaN,146280,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99974,13865,1044.0,C,NaN,NaN,NaN,146273,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99975,13865,1831.0,Q,17653,1.0,"[146275, 146276, 146279, 146280, 146273, 14628...",NaN,"[(146274, 0.0), (146279, 1.0), (146277, 0.0)]","[(146276, 0.0), (146274, 0.0), (146279, 0.0)]","[0.0, 1.0, 0.0]","[0, 0, 0]","[146274, 146279, 146277]","[146276, 146274, 146279]","[0.0, 0.0, 0.0]"
99976,13865,1837.0,C,NaN,NaN,NaN,146275,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99977,13865,2063.0,C,NaN,NaN,NaN,146275,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99978,13865,2236.0,C,NaN,NaN,NaN,146280,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99979,13865,2298.0,C,NaN,NaN,NaN,146278,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99980,13865,2457.0,C,NaN,NaN,NaN,146277,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99981,13865,2550.0,C,NaN,NaN,NaN,146274,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99982,13866,0.0,Q,66,0.0,"[353, 348, 384, 414, 610, 410, 372, 656, 594, ...",NaN,"[(384, 1.0), (656, 0.0), (610, 1.0)]","[(410, 0.0), (348, 1.0), (656, 0.0)]","[1.0, 0.0, 1.0]","[0, 0, 1]","[384, 656, 610]","[410, 348, 656]","[0.0, 1.0, 0.0]"
99983,13866,66.0,C,NaN,NaN,NaN,353,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99984,13867,0.0,Q,2459,0.0,"[10796, 21767, 21770, 7679, 21769, 21768, 8253...",NaN,"[(7679, 1.0), (21770, 1.0), (21769, 1.0)]","[(21769, 1.0), (8253, 1.0), (21767, 1.0)]","[1.0, 1.0, 1.0]","[1, 0, 1]","[7679, 21770, 21769]","[21769, 8253, 21767]","[1.0, 1.0, 1.0]"
99985,13867,3.0,C,NaN,NaN,NaN,10796,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99986,13867,120.0,C,NaN,NaN,NaN,21767,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99987,13867,157.0,C,NaN,NaN,NaN,21770,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99988,13867,432.0,C,NaN,NaN,NaN,7679,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99989,13867,895.0,Q,18819,0.0,"[93996, 64139, 155559, 155562, 52896, 155561, ...",NaN,"[(7700, 1.0), (155557, 1.0), (155562, 0.0)]","[(155562, 1.0), (155557, 1.0), (155558, 1.0)]","[1.0, 1.0, 0.0]","[0, 0, 1]","[7700, 155557, 155562]","[155562, 155557, 155558]","[1.0, 1.0, 1.0]"
99990,13867,898.0,C,NaN,NaN,NaN,93996,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99991,13867,1093.0,C,NaN,NaN,NaN,64139,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99992,13867,1176.0,C,NaN,NaN,NaN,155559,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99993,13867,1822.0,C,NaN,NaN,NaN,52896,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99994,13868,0.0,Q,26,0.0,"[341, 246, 233, 280, 289, 301, 277, 299, 334, ...",NaN,"[(315, 1.0), (289, 0.0), (301, 1.0)]","[(277, 1.0), (233, 0.0), (334, 0.0)]","[1.0, 0.0, 1.0]","[0, 1, 0]","[315, 289, 301]","[277, 233, 334]","[1.0, 0.0, 0.0]"
99995,13868,10.0,C,NaN,NaN,NaN,341,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99996,13868,24.0,Q,15741,0.0,"[130920, 125203, 130933, 130916, 130930, 13092...",NaN,"[(130925, 0.0), (130929, 0.0), (130922, 1.0)]","[(130930, 1.0), (130929, 1.0), (130916, 1.0)]","[0.0, 0.0, 1.0]","[1, 1, 1]","[130925, 130929, 130922]","[130930, 130929, 130916]","[1.0, 1.0, 1.0]"
99997,13868,36.0,Q,15775,0.0,"[411, 414, 131186, 131189, 131188, 131184, 131...",NaN,"[(414, 1.0), (411, 1.0), (131188, 1.0)]","[(131187, 0.0), (131185, 1.0), (131184, 0.0)]","[1.0, 1.0, 1.0]","[0, 1, 0]","[414, 411, 131188]","[131187, 131185, 131184]","[0.0, 1.0, 0.0]"
99998,13868,39.0,C,NaN,NaN,NaN,411,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99999,13869,0.0,Q,74,0.0,"[771, 726, 778, 729, 704, 740, 687, 739, 684, ...",NaN,"[(729, 0.0), (687, 0.0), (778, 0.0)]","[(740, 1.0), (771, 1.0), (738, 1.0)]","[0.0, 0.0, 0.0]","[0, 1, 0]","[729, 687, 778]","[740, 771, 738]","[1.0, 1.0, 1.0]"

Step 2: Calculate ERR

In [ ]:
%%latex
Calculate ERR for each query:

\begin{equation}
 ERR &= \sum_{r=1}^{N}( \prod_{i=1}^{r-1}(1-\theta_i)\theta_r)\frac{1}{r} 
\end{equation}
    
\begin{equation}
    \theta_i &= \frac{2^{rel} -1 }{2^{max_rel}}
\end{equation}

In [253]:
def ERR(l):
    """ List or relevance scores. """ 
    if type(l)==list:
        # calculate the thetas first
        theta_i_list = [ (2**i -1)/(2**1) for i in l]
        theta_r_list = [ (2**i - 1)/(2**1) for i in [0,1] ]
        # Calcualate total ERR score for the ranking 
        err = [ (1-theta_i)*theta_r_list[1]*1/2 for theta_i in theta_i_list ]
        return sum(err)
    else:
        return l
df['err_e'] = df.rank_rel_e.apply(ERR)
df['err_p'] = df.rand_rel_p.apply(ERR)

In [254]:
df

,SessionID,TimePassed,TypeOfAction,QueryID,RegionID,ListOfURLs,URLID,rank_id_rel_e,rank_id_rel_p,rank_rel_e,rand_rel_p,rank_id_e,rand_id_p,rank_rel_p,err_e,err_p
0,0,0.0,Q,8,0.0,"[7, 103, 51, 92, 43, 12, 73, 69, 27, 105]",NaN,"[(27, 0.0), (105, 1.0), (51, 1.0)]","[(12, 0.0), (103, 1.0), (27, 0.0)]","[0.0, 1.0, 1.0]","[1, 0, 0]","[27, 105, 51]","[12, 103, 27]","[0.0, 1.0, 0.0]",0.500,0.625
1,0,36.0,Q,174,0.0,"[1625, 1627, 1623, 1626, 1624, 1622, 1619, 162...",NaN,"[(1627, 1.0), (1618, 0.0), (1624, 1.0)]","[(1627, 0.0), (1622, 1.0), (1624, 1.0)]","[1.0, 0.0, 1.0]","[0, 0, 0]","[1627, 1618, 1624]","[1627, 1622, 1624]","[0.0, 1.0, 1.0]",0.500,0.750
2,0,50.0,Q,227,0.0,"[2094, 2091, 2087, 2089, 2093, 2088, 2090, 209...",NaN,"[(2088, 0.0), (2094, 1.0), (2090, 1.0)]","[(2092, 1.0), (2086, 1.0), (2095, 0.0)]","[0.0, 1.0, 1.0]","[0, 0, 0]","[2088, 2094, 2090]","[2092, 2086, 2095]","[1.0, 1.0, 0.0]",0.500,0.750
3,0,515.0,Q,174,0.0,"[1625, 1627, 1623, 1626, 1624, 1622, 1619, 162...",NaN,"[(1618, 0.0), (1619, 1.0), (1623, 1.0)]","[(1623, 0.0), (1627, 1.0), (1619, 0.0)]","[0.0, 1.0, 1.0]","[1, 0, 0]","[1618, 1619, 1623]","[1623, 1627, 1619]","[0.0, 1.0, 0.0]",0.500,0.625
4,0,524.0,Q,1974,0.0,"[17562, 1627, 1626, 1623, 2091, 17559, 17563, ...",NaN,"[(17560, 0.0), (1627, 1.0), (17561, 1.0)]","[(17561, 0.0), (2091, 1.0), (1623, 1.0)]","[0.0, 1.0, 1.0]","[0, 1, 1]","[17560, 1627, 17561]","[17561, 2091, 1623]","[0.0, 1.0, 1.0]",0.500,0.500
5,0,527.0,C,NaN,NaN,NaN,17562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0,528.0,C,NaN,NaN,NaN,1627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0,529.0,C,NaN,NaN,NaN,1626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1,0.0,Q,9,0.0,"[13, 70, 66, 94, 50, 104, 29, 21, 89, 85]",NaN,"[(70, 1.0), (66, 0.0), (50, 1.0)]","[(29, 0.0), (13, 0.0), (21, 0.0)]","[1.0, 0.0, 1.0]","[1, 1, 1]","[70, 66, 50]","[29, 13, 21]","[0.0, 0.0, 0.0]",0.500,0.375
9,1,20.0,C,NaN,NaN,NaN,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1,123.0,C,NaN,NaN,NaN,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1,291.0,Q,1324,0.0,"[11807, 11805, 11812, 11813, 11804, 11809, 118...",NaN,"[(11808, 1.0), (11813, 0.0), (11806, 1.0)]","[(11804, 0.0), (11807, 1.0), (11811, 1.0)]","[1.0, 0.0, 1.0]","[0, 0, 0]","[11808, 11813, 11806]","[11804, 11807, 11811]","[0.0, 1.0, 1.0]",0.500,0.750
12,1,301.0,C,NaN,NaN,NaN,11813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1,8605.0,C,NaN,NaN,NaN,11808,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1,8737.0,C,NaN,NaN,NaN,11810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1,8884.0,C,NaN,NaN,NaN,11811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2,0.0,Q,7,0.0,"[77, 93, 55, 86, 64, 67, 76, 98, 18, 54]",NaN,"[(76, 1.0), (55, 1.0), (98, 1.0)]","[(76, 0.0), (86, 0.0), (55, 1.0)]","[1.0, 1.0, 1.0]","[0, 0, 0]","[76, 55, 98]","[76, 86, 55]","[0.0, 0.0, 1.0]",0.375,0.750
17,2,11.0,C,NaN,NaN,NaN,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2,1122.0,Q,4088,0.0,"[35554, 35561, 35562, 35556, 35557, 35567, 355...",NaN,"[(35562, 0.0), (35556, 1.0), (35567, 1.0)]","[(35562, 0.0), (35553, 0.0), (35550, 1.0)]","[0.0, 1.0, 1.0]","[0, 1, 1]","[35562, 35556, 35567]","[35562, 35553, 35550]","[0.0, 0.0, 1.0]",0.500,0.500
19,2,1127.0,C,NaN,NaN,NaN,35561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2,1645.0,Q,5863,0.0,"[36505, 36514, 36508, 36509, 50480, 36510, 365...",NaN,"[(50480, 1.0), (50482, 1.0), (36509, 1.0)]","[(36509, 1.0), (50481, 1.0), (36514, 1.0)]","[1.0, 1.0, 1.0]","[1, 1, 0]","[50480, 50482, 36509]","[36509, 50481, 36514]","[1.0, 1.0, 1.0]",0.375,0.500
21,2,1646.0,C,NaN,NaN,NaN,36505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,3,0.0,Q,1,0.0,"[15, 32, 0, 9, 80, 30, 88, 82, 97, 65]",NaN,"[(9, 1.0), (15, 1.0), (30, 1.0)]","[(80, 0.0), (0, 0.0), (9, 1.0)]","[1.0, 1.0, 1.0]","[0, 0, 0]","[9, 15, 30]","[80, 0, 9]","[0.0, 0.0, 1.0]",0.375,0.750
23,3,40.0,Q,32,0.0,"[314, 230, 338, 282, 335, 257, 216, 241, 342, ...",NaN,"[(216, 1.0), (282, 0.0), (314, 1.0)]","[(338, 1.0), (241, 1.0), (335, 1.0)]","[1.0, 0.0, 1.0]","[1, 1, 0]","[216, 282, 314]","[338, 241, 335]","[1.0, 1.0, 1.0]",0.500,0.500
24,3,95.0,Q,431,0.0,"[3884, 0, 3887, 3888, 3889, 3885, 3882, 3881, ...",NaN,"[(3889, 1.0), (3888, 0.0), (3884, 0.0)]","[(0, 1.0), (3882, 1.0), (3888, 0.0)]","[1.0, 0.0, 0.0]","[1, 1, 0]","[3889, 3888, 3884]","[0, 3882, 3888]","[1.0, 1.0, 0.0]",0.625,0.500
25,3,103.0,C,NaN,NaN,NaN,3884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,3,7367.0,Q,23323,0.0,"[191148, 191149, 191144, 191145, 191151, 19114...",NaN,"[(191148, 1.0), (191144, 1.0), (191151, 1.0)]","[(191152, 0.0), (191145, 1.0), (191148, 0.0)]","[1.0, 1.0, 1.0]","[1, 0, 0]","[191148, 191144, 191151]","[191152, 191145, 191148]","[0.0, 1.0, 0.0]",0.375,0.625
27,3,7377.0,C,NaN,NaN,NaN,191148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,4,0.0,Q,5,0.0,"[99, 16, 87, 39, 100, 6, 36, 52, 81, 84]",NaN,"[(36, 1.0), (81, 0.0), (16, 1.0)]","[(99, 1.0), (36, 0.0), (52, 1.0)]","[1.0, 0.0, 1.0]","[1, 1, 1]","[36, 81, 16]","[99, 36, 52]","[1.0, 0.0, 1.0]",0.500,0.375
29,4,6.0,C,NaN,NaN,NaN,84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,13865,748.0,C,NaN,NaN,NaN,146275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99971,13865,892.0,Q,17653,1.0,"[146275, 146276, 146279, 146280, 146273, 14628...",NaN,"[(146279, 1.0), (146278, 1.0), (146277, 1.0)]","[(146273, 1.0), (146282, 1.0), (146278, 1.0)]","[1.0, 1.0, 1.0]","[1, 1, 1]","[146279, 146278, 146277]","[146273, 146282, 146278]","[1.0, 1.0, 1.0]",0.375,0.375
99972,13865,926.0,C,NaN,NaN,NaN,146279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99973,13865,1022.0,C,NaN,NaN,NaN,146280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99974,13865,1044.0,C,NaN,NaN,NaN,146273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99975,13865,1831.0,Q,17653,1.0,"[146275, 146276, 146279, 146280, 146273, 14628...",NaN,"[(146274, 0.0), (146279, 1.0), (146277, 0.0)]","[(146276, 0.0), (146274, 0.0), (146279, 0.0)]","[0.0, 1.0, 0.0]","[0, 0, 0]","[146274, 146279, 146277]","[146276, 146274, 146279]","[0.0, 0.0, 0.0]",0.625,0.750
99976,13865,1837.0,C,NaN,NaN,NaN,146275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99977,13865,2063.0,C,NaN,NaN,NaN,146275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99978,13865,2236.0,C,NaN,NaN,NaN,146280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99979,13865,2298.0,C,NaN,NaN,NaN,146278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99980,13865,2457.0,C,NaN,NaN,NaN,146277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99981,13865,2550.0,C,NaN,NaN,NaN,146274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99982,13866,0.0,Q,66,0.0,"[353, 348, 384, 414, 610, 410, 372, 656, 594, ...",NaN,"[(384, 1.0), (656, 0.0), (610, 1.0)]","[(410, 0.0), (348, 1.0), (656, 0.0)]","[1.0, 0.0, 1.0]","[0, 0, 1]","[384, 656, 610]","[410, 348, 656]","[0.0, 1.0, 0.0]",0.500,0.625
99983,13866,66.0,C,NaN,NaN,NaN,353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99984,13867,0.0,Q,2459,0.0,"[10796, 21767, 21770, 7679, 21769, 21768, 8253...",NaN,"[(7679, 1.0), (21770, 1.0), (21769, 1.0)]","[(21769, 1.0), (8253, 1.0), (21767, 1.0)]","[1.0, 1.0, 1.0]","[1, 0, 1]","[7679, 21770, 21769]","[21769, 8253, 21767]","[1.0, 1.0, 1.0]",0.375,0.500
99985,13867,3.0,C,NaN,NaN,NaN,10796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99986,13867,120.0,C,NaN,NaN,NaN,21767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99987,13867,157.0,C,NaN,NaN,NaN,21770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99988,13867,432.0,C,NaN,NaN,NaN,7679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99989,13867,895.0,Q,18819,0.0,"[93996, 64139, 155559, 155562, 52896, 155561, ...",NaN,"[(7700, 1.0), (155557, 1.0), (155562, 0.0)]","[(155562, 1.0), (155557, 1.0), (155558, 1.0)]","[1.0, 1.0, 0.0]","[0, 0, 1]","[7700, 155557, 155562]","[155562, 155557, 155558]","[1.0, 1.0, 1.0]",0.500,0.625
99990,13867,898.0,C,NaN,NaN,NaN,93996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99991,13867,1093.0,C,NaN,NaN,NaN,64139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99992,13867,1176.0,C,NaN,NaN,NaN,155559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99993,13867,1822.0,C,NaN,NaN,NaN,52896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99994,13868,0.0,Q,26,0.0,"[341, 246, 233, 280, 289, 301, 277, 299, 334, ...",NaN,"[(315, 1.0), (289, 0.0), (301, 1.0)]","[(277, 1.0), (233, 0.0), (334, 0.0)]","[1.0, 0.0, 1.0]","[0, 1, 0]","[315, 289, 301]","[277, 233, 334]","[1.0, 0.0, 0.0]",0.500,0.625
99995,13868,10.0,C,NaN,NaN,NaN,341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99996,13868,24.0,Q,15741,0.0,"[130920, 125203, 130933, 130916, 130930, 13092...",NaN,"[(130925, 0.0), (130929, 0.0), (130922, 1.0)]","[(130930, 1.0), (130929, 1.0), (130916, 1.0)]","[0.0, 0.0, 1.0]","[1, 1, 1]","[130925, 130929, 130922]","[130930, 130929, 130916]","[1.0, 1.0, 1.0]",0.625,0.375
99997,13868,36.0,Q,15775,0.0,"[411, 414, 131186, 131189, 131188, 131184, 131...",NaN,"[(414, 1.0), (411, 1.0), (131188, 1.0)]","[(131187, 0.0), (131185, 1.0), (131184, 0.0)]","[1.0, 1.0, 1.0]","[0, 1, 0]","[414, 411, 131188]","[131187, 131185, 131184]","[0.0, 1.0, 0.0]",0.375,0.625
99998,13868,39.0,C,NaN,NaN,NaN,411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99999,13869,0.0,Q,74,0.0,"[771, 726, 778, 729, 704, 740, 687, 739, 684, ...",NaN,"[(729, 0.0), (687, 0.0), (778, 0.0)]","[(740, 1.0), (771, 1.0), (738, 1.0)]","[0.0, 0.0, 0.0]","[0, 1, 0]","[729, 687, 778]","[740, 771, 738]","[1.0, 1.0, 1.0]",0.750,0.625

### QUESTOINS 
    -how do we do the step one