### Information Retrieval   |    Assignment 1-B

Step 1:

In [4]:
import pandas as pd
import numpy as np
import sys
import os

In [43]:
df_raw = pd.read_table('YandexRelPredChallenge.txt', delimiter="\t",index_col=None, 
                 header=0,names=['SessionID', 'TimePassed','TypeOfAction', 'QueryID','RegionID', 'ListOfURLs', 'URLID',
                                 '1','2','3','4','5',"6",'7','8'])
df_raw

In [95]:
# Open file    
fileHandler = open ('YandexRelPredChallenge.txt', "r")
# Get list of all lines in file
listOfLines = fileHandler.readlines()
# Close file 
fileHandler.close()
#Empty frame to fill in
index=[x for x in range(0,100000)]
df = pd.DataFrame(index=index, columns=['SessionID', 'TimePassed',
                 'TypeOfAction', 'QueryID','RegionID', 'ListOfURLs', 'URLID'])
df.name='data'

# Iterate over the lines and fill in the dataframe
for ind, line in zip(index, listOfLines):
#     print('index')
    line = line.strip().split()
    if line[2]=='Q':

        df.loc[ind] = pd.Series({'SessionID':line[0], 'TimePassed':line[1], 'TypeOfAction':line[2],
                                     'QueryID':line[3],'RegionID':line[4], 'ListOfURLs':line[5:], 'URLID':np.nan})
    else:
        df.loc[ind] = pd.Series({'SessionID':line[0], 'TimePassed':line[1], 'TypeOfAction':line[2],
                                     'QueryID':np.nan,'RegionID':np.nan, 'ListOfURLs':np.nan, 'URLID':line[3:]})

In [100]:
# Getting the types right. 
df.SessionID = df.SessionID.astype(int)
df.TimePassed = df.TimePassed.astype(int)
df.TypeOfAction = df.TypeOfAction.astype(str)
df.RegionID = df.RegionID.astype(float)
df.TimePassed = df.TimePassed.astype(float)
def parse_ulrid(x):
    if type(x)==list:
        return x[0]
    else:
        return x
df.URLID = df.URLID.apply(parse_ulrid)

Inspect

In [182]:
df

,SessionID,TimePassed,TypeOfAction,QueryID,RegionID,ListOfURLs,URLID,rank_e,rank_p
0,0,0.0,Q,8,0.0,"[7, 103, 51, 92, 43, 12, 73, 69, 27, 105]",NaN,"[0, 1, 1]","[0, 1, 1]"
1,0,36.0,Q,174,0.0,"[1625, 1627, 1623, 1626, 1624, 1622, 1619, 162...",NaN,"[1, 1, 1]","[0, 1, 1]"
2,0,50.0,Q,227,0.0,"[2094, 2091, 2087, 2089, 2093, 2088, 2090, 209...",NaN,"[0, 1, 0]","[0, 1, 0]"
3,0,515.0,Q,174,0.0,"[1625, 1627, 1623, 1626, 1624, 1622, 1619, 162...",NaN,"[1, 1, 1]","[0, 1, 1]"
4,0,524.0,Q,1974,0.0,"[17562, 1627, 1626, 1623, 2091, 17559, 17563, ...",NaN,"[1, 1, 0]","[0, 0, 0]"
5,0,527.0,C,NaN,NaN,NaN,17562,NaN,NaN
6,0,528.0,C,NaN,NaN,NaN,1627,NaN,NaN
7,0,529.0,C,NaN,NaN,NaN,1626,NaN,NaN
8,1,0.0,Q,9,0.0,"[13, 70, 66, 94, 50, 104, 29, 21, 89, 85]",NaN,"[0, 1, 1]","[1, 0, 0]"
9,1,20.0,C,NaN,NaN,NaN,104,NaN,NaN
10,1,123.0,C,NaN,NaN,NaN,21,NaN,NaN
11,1,291.0,Q,1324,0.0,"[11807, 11805, 11812, 11813, 11804, 11809, 118...",NaN,"[1, 0, 1]","[0, 0, 1]"
12,1,301.0,C,NaN,NaN,NaN,11813,NaN,NaN
13,1,8605.0,C,NaN,NaN,NaN,11808,NaN,NaN
14,1,8737.0,C,NaN,NaN,NaN,11810,NaN,NaN
15,1,8884.0,C,NaN,NaN,NaN,11811,NaN,NaN
16,2,0.0,Q,7,0.0,"[77, 93, 55, 86, 64, 67, 76, 98, 18, 54]",NaN,"[0, 1, 1]","[0, 0, 0]"
17,2,11.0,C,NaN,NaN,NaN,18,NaN,NaN
18,2,1122.0,Q,4088,0.0,"[35554, 35561, 35562, 35556, 35557, 35567, 355...",NaN,"[1, 1, 1]","[1, 1, 1]"
19,2,1127.0,C,NaN,NaN,NaN,35561,NaN,NaN
20,2,1645.0,Q,5863,0.0,"[36505, 36514, 36508, 36509, 50480, 36510, 365...",NaN,"[1, 0, 0]","[1, 1, 1]"
21,2,1646.0,C,NaN,NaN,NaN,36505,NaN,NaN
22,3,0.0,Q,1,0.0,"[15, 32, 0, 9, 80, 30, 88, 82, 97, 65]",NaN,"[1, 1, 0]","[1, 0, 0]"
23,3,40.0,Q,32,0.0,"[314, 230, 338, 282, 335, 257, 216, 241, 342, ...",NaN,"[1, 0, 1]","[0, 0, 1]"
24,3,95.0,Q,431,0.0,"[3884, 0, 3887, 3888, 3889, 3885, 3882, 3881, ...",NaN,"[0, 1, 0]","[1, 0, 0]"
25,3,103.0,C,NaN,NaN,NaN,3884,NaN,NaN
26,3,7367.0,Q,23323,0.0,"[191148, 191149, 191144, 191145, 191151, 19114...",NaN,"[1, 1, 1]","[0, 0, 0]"
27,3,7377.0,C,NaN,NaN,NaN,191148,NaN,NaN
28,4,0.0,Q,5,0.0,"[99, 16, 87, 39, 100, 6, 36, 52, 81, 84]",NaN,"[1, 0, 0]","[0, 0, 1]"
29,4,6.0,C,NaN,NaN,NaN,84,NaN,NaN
...,...,...,...,...,...,...,...,...,...
99970,13865,748.0,C,NaN,NaN,NaN,146275,NaN,NaN
99971,13865,892.0,Q,17653,1.0,"[146275, 146276, 146279, 146280, 146273, 14628...",NaN,"[0, 1, 0]","[0, 0, 0]"
99972,13865,926.0,C,NaN,NaN,NaN,146279,NaN,NaN
99973,13865,1022.0,C,NaN,NaN,NaN,146280,NaN,NaN
99974,13865,1044.0,C,NaN,NaN,NaN,146273,NaN,NaN
99975,13865,1831.0,Q,17653,1.0,"[146275, 146276, 146279, 146280, 146273, 14628...",NaN,"[0, 1, 0]","[0, 0, 1]"
99976,13865,1837.0,C,NaN,NaN,NaN,146275,NaN,NaN
99977,13865,2063.0,C,NaN,NaN,NaN,146275,NaN,NaN
99978,13865,2236.0,C,NaN,NaN,NaN,146280,NaN,NaN
99979,13865,2298.0,C,NaN,NaN,NaN,146278,NaN,NaN
99980,13865,2457.0,C,NaN,NaN,NaN,146277,NaN,NaN
99981,13865,2550.0,C,NaN,NaN,NaN,146274,NaN,NaN
99982,13866,0.0,Q,66,0.0,"[353, 348, 384, 414, 610, 410, 372, 656, 594, ...",NaN,"[1, 0, 0]","[0, 1, 0]"
99983,13866,66.0,C,NaN,NaN,NaN,353,NaN,NaN
99984,13867,0.0,Q,2459,0.0,"[10796, 21767, 21770, 7679, 21769, 21768, 8253...",NaN,"[1, 1, 0]","[1, 0, 1]"
99985,13867,3.0,C,NaN,NaN,NaN,10796,NaN,NaN
99986,13867,120.0,C,NaN,NaN,NaN,21767,NaN,NaN
99987,13867,157.0,C,NaN,NaN,NaN,21770,NaN,NaN
99988,13867,432.0,C,NaN,NaN,NaN,7679,NaN,NaN
99989,13867,895.0,Q,18819,0.0,"[93996, 64139, 155559, 155562, 52896, 155561, ...",NaN,"[1, 1, 0]","[0, 1, 1]"
99990,13867,898.0,C,NaN,NaN,NaN,93996,NaN,NaN
99991,13867,1093.0,C,NaN,NaN,NaN,64139,NaN,NaN
99992,13867,1176.0,C,NaN,NaN,NaN,155559,NaN,NaN
99993,13867,1822.0,C,NaN,NaN,NaN,52896,NaN,NaN
99994,13868,0.0,Q,26,0.0,"[341, 246, 233, 280, 289, 301, 277, 299, 334, ...",NaN,"[1, 0, 0]","[1, 0, 1]"
99995,13868,10.0,C,NaN,NaN,NaN,341,NaN,NaN
99996,13868,24.0,Q,15741,0.0,"[130920, 125203, 130933, 130916, 130930, 13092...",NaN,"[0, 1, 0]","[1, 0, 0]"
99997,13868,36.0,Q,15775,0.0,"[411, 414, 131186, 131189, 131188, 131184, 131...",NaN,"[1, 1, 1]","[0, 1, 1]"
99998,13868,39.0,C,NaN,NaN,NaN,411,NaN,NaN
99999,13869,0.0,Q,74,0.0,"[771, 726, 778, 729, 704, 740, 687, 739, 684, ...",NaN,"[1, 0, 0]","[0, 0, 0]"

In [116]:
test = df[df.SessionID==0]

So lets say that our experimental system is what Yandex return as a list now. Production or the system that is going to 'suck' (sort of a dumb system that we are going to compare against) will be constructed as shuffling each ranking for a query.

Now, other approach, probably the better one: take the initial order as the 'benchmark' create only list of 0,1 (relevnace scores) for each system.
    - rember that we are interested only in three [3] first results.

In [214]:
# Create the relevance score ranking (those tables = that we called 'runs')
def relevance_list(l,acc=0.5, res_length=3):
    """ Control the 'accuracy'/'performance' with acc param. Only lists of length 3. """
    if type(l)==list:
        res = list()
        for x in l:
            if rnd.random()<acc:
                res.append((x,1))
            else:
                res.append((x,0))
        return rnd.sample(res, res_length)
    else:
        return l

df['rank_id_rel_e'] = df.ListOfURLs.apply(relevance_list, acc=0.7) 
df['rank_id_rel_p'] = df.ListOfURLs.apply(relevance_list)

In [215]:
def extract_rel(l):
    if type(l) == list:
        res = list()
        for tup in l:
            res.append(tup[1])
        return res
    else:
        return l
def extract_id(l):
    if type(l) == list:
        res = list()
        for tup in l:
            res.append(tup[0])
        return res
    else:
        return l
df['rank_rel_e'] = df.rank_id_rel_e.apply(extract_rel)
df['rand_rel_p'] = df.rank_id_rel_p.apply(extract_rel)
df['rank_id_e'] = df.rank_id_rel_e.apply(extract_id)
df['rand_id_p'] = df.rank_id_rel_p.apply(extract_id)

In [216]:
df

,SessionID,TimePassed,TypeOfAction,QueryID,RegionID,ListOfURLs,URLID,rank_id_rel_e,rank_id_rel_p,rank_rel_e,rand_rel_p,rank_id_e,rand_id_p
0,0,0.0,Q,8,0.0,"[7, 103, 51, 92, 43, 12, 73, 69, 27, 105]",NaN,"[(27, 1), (7, 0), (69, 1)]","[(7, 1), (51, 0), (27, 0)]","[1, 0, 1]","[1, 0, 0]","[27, 7, 69]","[7, 51, 27]"
1,0,36.0,Q,174,0.0,"[1625, 1627, 1623, 1626, 1624, 1622, 1619, 162...",NaN,"[(1625, 1), (1626, 1), (1620, 1)]","[(1621, 0), (1624, 0), (1627, 0)]","[1, 1, 1]","[0, 0, 0]","[1625, 1626, 1620]","[1621, 1624, 1627]"
2,0,50.0,Q,227,0.0,"[2094, 2091, 2087, 2089, 2093, 2088, 2090, 209...",NaN,"[(2088, 1), (2095, 1), (2094, 0)]","[(2095, 0), (2089, 0), (2091, 0)]","[1, 1, 0]","[0, 0, 0]","[2088, 2095, 2094]","[2095, 2089, 2091]"
3,0,515.0,Q,174,0.0,"[1625, 1627, 1623, 1626, 1624, 1622, 1619, 162...",NaN,"[(1618, 1), (1620, 1), (1619, 1)]","[(1625, 1), (1626, 0), (1624, 0)]","[1, 1, 1]","[1, 0, 0]","[1618, 1620, 1619]","[1625, 1626, 1624]"
4,0,524.0,Q,1974,0.0,"[17562, 1627, 1626, 1623, 2091, 17559, 17563, ...",NaN,"[(1627, 1), (17559, 1), (17563, 0)]","[(1627, 0), (17558, 1), (2091, 1)]","[1, 1, 0]","[0, 1, 1]","[1627, 17559, 17563]","[1627, 17558, 2091]"
5,0,527.0,C,NaN,NaN,NaN,17562,NaN,NaN,NaN,NaN,NaN,NaN
6,0,528.0,C,NaN,NaN,NaN,1627,NaN,NaN,NaN,NaN,NaN,NaN
7,0,529.0,C,NaN,NaN,NaN,1626,NaN,NaN,NaN,NaN,NaN,NaN
8,1,0.0,Q,9,0.0,"[13, 70, 66, 94, 50, 104, 29, 21, 89, 85]",NaN,"[(21, 1), (94, 1), (29, 0)]","[(89, 1), (85, 1), (70, 1)]","[1, 1, 0]","[1, 1, 1]","[21, 94, 29]","[89, 85, 70]"
9,1,20.0,C,NaN,NaN,NaN,104,NaN,NaN,NaN,NaN,NaN,NaN
10,1,123.0,C,NaN,NaN,NaN,21,NaN,NaN,NaN,NaN,NaN,NaN
11,1,291.0,Q,1324,0.0,"[11807, 11805, 11812, 11813, 11804, 11809, 118...",NaN,"[(11806, 1), (11808, 0), (11812, 1)]","[(11807, 0), (11808, 0), (11812, 0)]","[1, 0, 1]","[0, 0, 0]","[11806, 11808, 11812]","[11807, 11808, 11812]"
12,1,301.0,C,NaN,NaN,NaN,11813,NaN,NaN,NaN,NaN,NaN,NaN
13,1,8605.0,C,NaN,NaN,NaN,11808,NaN,NaN,NaN,NaN,NaN,NaN
14,1,8737.0,C,NaN,NaN,NaN,11810,NaN,NaN,NaN,NaN,NaN,NaN
15,1,8884.0,C,NaN,NaN,NaN,11811,NaN,NaN,NaN,NaN,NaN,NaN
16,2,0.0,Q,7,0.0,"[77, 93, 55, 86, 64, 67, 76, 98, 18, 54]",NaN,"[(98, 1), (54, 1), (64, 0)]","[(54, 0), (98, 0), (77, 0)]","[1, 1, 0]","[0, 0, 0]","[98, 54, 64]","[54, 98, 77]"
17,2,11.0,C,NaN,NaN,NaN,18,NaN,NaN,NaN,NaN,NaN,NaN
18,2,1122.0,Q,4088,0.0,"[35554, 35561, 35562, 35556, 35557, 35567, 355...",NaN,"[(35568, 0), (35567, 1), (35557, 1)]","[(35557, 0), (35566, 1), (35554, 1)]","[0, 1, 1]","[0, 1, 1]","[35568, 35567, 35557]","[35557, 35566, 35554]"
19,2,1127.0,C,NaN,NaN,NaN,35561,NaN,NaN,NaN,NaN,NaN,NaN
20,2,1645.0,Q,5863,0.0,"[36505, 36514, 36508, 36509, 50480, 36510, 365...",NaN,"[(36505, 0), (50482, 1), (36510, 1)]","[(50480, 1), (36505, 1), (36509, 0)]","[0, 1, 1]","[1, 1, 0]","[36505, 50482, 36510]","[50480, 36505, 36509]"
21,2,1646.0,C,NaN,NaN,NaN,36505,NaN,NaN,NaN,NaN,NaN,NaN
22,3,0.0,Q,1,0.0,"[15, 32, 0, 9, 80, 30, 88, 82, 97, 65]",NaN,"[(97, 1), (80, 0), (65, 0)]","[(80, 0), (65, 0), (15, 0)]","[1, 0, 0]","[0, 0, 0]","[97, 80, 65]","[80, 65, 15]"
23,3,40.0,Q,32,0.0,"[314, 230, 338, 282, 335, 257, 216, 241, 342, ...",NaN,"[(257, 1), (314, 1), (241, 0)]","[(230, 1), (216, 1), (338, 0)]","[1, 1, 0]","[1, 1, 0]","[257, 314, 241]","[230, 216, 338]"
24,3,95.0,Q,431,0.0,"[3884, 0, 3887, 3888, 3889, 3885, 3882, 3881, ...",NaN,"[(3887, 0), (3883, 1), (3881, 1)]","[(3881, 1), (3886, 1), (3889, 0)]","[0, 1, 1]","[1, 1, 0]","[3887, 3883, 3881]","[3881, 3886, 3889]"
25,3,103.0,C,NaN,NaN,NaN,3884,NaN,NaN,NaN,NaN,NaN,NaN
26,3,7367.0,Q,23323,0.0,"[191148, 191149, 191144, 191145, 191151, 19114...",NaN,"[(191151, 1), (191144, 1), (191150, 1)]","[(191144, 1), (191146, 0), (191148, 0)]","[1, 1, 1]","[1, 0, 0]","[191151, 191144, 191150]","[191144, 191146, 191148]"
27,3,7377.0,C,NaN,NaN,NaN,191148,NaN,NaN,NaN,NaN,NaN,NaN
28,4,0.0,Q,5,0.0,"[99, 16, 87, 39, 100, 6, 36, 52, 81, 84]",NaN,"[(39, 1), (16, 1), (36, 0)]","[(36, 1), (6, 1), (84, 1)]","[1, 1, 0]","[1, 1, 1]","[39, 16, 36]","[36, 6, 84]"
29,4,6.0,C,NaN,NaN,NaN,84,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,13865,748.0,C,NaN,NaN,NaN,146275,NaN,NaN,NaN,NaN,NaN,NaN
99971,13865,892.0,Q,17653,1.0,"[146275, 146276, 146279, 146280, 146273, 14628...",NaN,"[(146277, 1), (146281, 0), (146275, 1)]","[(146277, 1), (146280, 1), (146273, 1)]","[1, 0, 1]","[1, 1, 1]","[146277, 146281, 146275]","[146277, 146280, 146273]"
99972,13865,926.0,C,NaN,NaN,NaN,146279,NaN,NaN,NaN,NaN,NaN,NaN
99973,13865,1022.0,C,NaN,NaN,NaN,146280,NaN,NaN,NaN,NaN,NaN,NaN
99974,13865,1044.0,C,NaN,NaN,NaN,146273,NaN,NaN,NaN,NaN,NaN,NaN
99975,13865,1831.0,Q,17653,1.0,"[146275, 146276, 146279, 146280, 146273, 14628...",NaN,"[(146279, 0), (146282, 0), (146274, 1)]","[(146278, 0), (146281, 0), (146276, 0)]","[0, 0, 1]","[0, 0, 0]","[146279, 146282, 146274]","[146278, 146281, 146276]"
99976,13865,1837.0,C,NaN,NaN,NaN,146275,NaN,NaN,NaN,NaN,NaN,NaN
99977,13865,2063.0,C,NaN,NaN,NaN,146275,NaN,NaN,NaN,NaN,NaN,NaN
99978,13865,2236.0,C,NaN,NaN,NaN,146280,NaN,NaN,NaN,NaN,NaN,NaN
99979,13865,2298.0,C,NaN,NaN,NaN,146278,NaN,NaN,NaN,NaN,NaN,NaN
99980,13865,2457.0,C,NaN,NaN,NaN,146277,NaN,NaN,NaN,NaN,NaN,NaN
99981,13865,2550.0,C,NaN,NaN,NaN,146274,NaN,NaN,NaN,NaN,NaN,NaN
99982,13866,0.0,Q,66,0.0,"[353, 348, 384, 414, 610, 410, 372, 656, 594, ...",NaN,"[(372, 1), (348, 0), (410, 1)]","[(353, 0), (610, 0), (414, 1)]","[1, 0, 1]","[0, 0, 1]","[372, 348, 410]","[353, 610, 414]"
99983,13866,66.0,C,NaN,NaN,NaN,353,NaN,NaN,NaN,NaN,NaN,NaN
99984,13867,0.0,Q,2459,0.0,"[10796, 21767, 21770, 7679, 21769, 21768, 8253...",NaN,"[(21769, 1), (7717, 0), (21771, 1)]","[(21772, 1), (10796, 0), (21767, 1)]","[1, 0, 1]","[1, 0, 1]","[21769, 7717, 21771]","[21772, 10796, 21767]"
99985,13867,3.0,C,NaN,NaN,NaN,10796,NaN,NaN,NaN,NaN,NaN,NaN
99986,13867,120.0,C,NaN,NaN,NaN,21767,NaN,NaN,NaN,NaN,NaN,NaN
99987,13867,157.0,C,NaN,NaN,NaN,21770,NaN,NaN,NaN,NaN,NaN,NaN
99988,13867,432.0,C,NaN,NaN,NaN,7679,NaN,NaN,NaN,NaN,NaN,NaN
99989,13867,895.0,Q,18819,0.0,"[93996, 64139, 155559, 155562, 52896, 155561, ...",NaN,"[(45613, 1), (155558, 1), (155562, 1)]","[(64139, 0), (155559, 0), (155561, 1)]","[1, 1, 1]","[0, 0, 1]","[45613, 155558, 155562]","[64139, 155559, 155561]"
99990,13867,898.0,C,NaN,NaN,NaN,93996,NaN,NaN,NaN,NaN,NaN,NaN
99991,13867,1093.0,C,NaN,NaN,NaN,64139,NaN,NaN,NaN,NaN,NaN,NaN
99992,13867,1176.0,C,NaN,NaN,NaN,155559,NaN,NaN,NaN,NaN,NaN,NaN
99993,13867,1822.0,C,NaN,NaN,NaN,52896,NaN,NaN,NaN,NaN,NaN,NaN
99994,13868,0.0,Q,26,0.0,"[341, 246, 233, 280, 289, 301, 277, 299, 334, ...",NaN,"[(315, 1), (280, 1), (299, 1)]","[(299, 0), (315, 1), (246, 0)]","[1, 1, 1]","[0, 1, 0]","[315, 280, 299]","[299, 315, 246]"
99995,13868,10.0,C,NaN,NaN,NaN,341,NaN,NaN,NaN,NaN,NaN,NaN
99996,13868,24.0,Q,15741,0.0,"[130920, 125203, 130933, 130916, 130930, 13092...",NaN,"[(130916, 0), (130920, 1), (130929, 0)]","[(130926, 1), (130933, 1), (130916, 1)]","[0, 1, 0]","[1, 1, 1]","[130916, 130920, 130929]","[130926, 130933, 130916]"
99997,13868,36.0,Q,15775,0.0,"[411, 414, 131186, 131189, 131188, 131184, 131...",NaN,"[(414, 1), (131185, 1), (411, 1)]","[(131187, 0), (131188, 1), (411, 0)]","[1, 1, 1]","[0, 1, 0]","[414, 131185, 411]","[131187, 131188, 411]"
99998,13868,39.0,C,NaN,NaN,NaN,411,NaN,NaN,NaN,NaN,NaN,NaN
99999,13869,0.0,Q,74,0.0,"[771, 726, 778, 729, 704, 740, 687, 739, 684, ...",NaN,"[(704, 1), (740, 1), (684, 1)]","[(729, 0), (740, 1), (684, 0)]","[1, 1, 1]","[0, 1, 0]","[704, 740, 684]","[729, 740, 684]"

Step 2: Calculate ERR

In [213]:
# l = [(1,1),(2,2),(55,4)]
# print( extract_id(l) )
# print( extract_rel(l))

[1, 2, 55]
[1, 2, 4]

In [ ]:
%%latex
Calculate ERR for each query:

\begin{equation}
 ERR &= \sum_{r=1}^{N}( \prod_{i=1}^{r-1}(1-\theta_i)\theta_r)\frac{1}{r} 
\end{equation}
    
\begin{equation}
    \theta_i &= \frac{2^{rel} -1 }{2^{max_rel}}
\end{equation}

In [ ]:
def ERR(l):
    """ List or relevance scores. """ 
    if type(l)==list:
        # calculate the thetas first
        theta_list = [ (2**i -1)/(2**1) for i in l]
        
        # Calcualate total ERR score for the ranking 
    
        return res
    else:
        return l

### QUESTOINS 
    -how do we do the step one