### Information Retrieval   |    Assignment 1-B

Step 1:

In [68]:
import pandas as pd
import numpy as np
import sys
import os
import random as rnd

In [44]:
df_raw = pd.read_table('YandexRelPredChallenge.txt', delimiter="\t",index_col=None, 
                 header=0,names=['SessionID', 'TimePassed','TypeOfAction', 'QueryID','RegionID', 'ListOfURLs', 'URLID',
                                 '1','2','3','4','5',"6",'7','8'])
df_raw

,SessionID,TimePassed,TypeOfAction,QueryID,RegionID,ListOfURLs,URLID,1,2,3,4,5,6,7,8
0,0,36,Q,174,0.0,1625.0,1627.0,1623.0,1626.0,1624.0,1622.0,1619.0,1621.0,1620.0,1618.0
1,0,50,Q,227,0.0,2094.0,2091.0,2087.0,2089.0,2093.0,2088.0,2090.0,2092.0,2095.0,2086.0
2,0,515,Q,174,0.0,1625.0,1627.0,1623.0,1626.0,1624.0,1622.0,1619.0,1621.0,1620.0,1618.0
3,0,524,Q,1974,0.0,17562.0,1627.0,1626.0,1623.0,2091.0,17559.0,17563.0,17558.0,17561.0,17560.0
4,0,527,C,17562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0,528,C,1627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0,529,C,1626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1,0,Q,9,0.0,13.0,70.0,66.0,94.0,50.0,104.0,29.0,21.0,89.0,85.0
8,1,20,C,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,123,C,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1,291,Q,1324,0.0,11807.0,11805.0,11812.0,11813.0,11804.0,11809.0,11806.0,11811.0,11808.0,11810.0
11,1,301,C,11813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1,8605,C,11808,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1,8737,C,11810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1,8884,C,11811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2,0,Q,7,0.0,77.0,93.0,55.0,86.0,64.0,67.0,76.0,98.0,18.0,54.0
16,2,11,C,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2,1122,Q,4088,0.0,35554.0,35561.0,35562.0,35556.0,35557.0,35567.0,35550.0,35566.0,35568.0,35553.0
18,2,1127,C,35561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2,1645,Q,5863,0.0,36505.0,36514.0,36508.0,36509.0,50480.0,36510.0,36507.0,50482.0,50483.0,50481.0
20,2,1646,C,36505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,3,0,Q,1,0.0,15.0,32.0,0.0,9.0,80.0,30.0,88.0,82.0,97.0,65.0
22,3,40,Q,32,0.0,314.0,230.0,338.0,282.0,335.0,257.0,216.0,241.0,342.0,281.0
23,3,95,Q,431,0.0,3884.0,0.0,3887.0,3888.0,3889.0,3885.0,3882.0,3881.0,3886.0,3883.0
24,3,103,C,3884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,3,7367,Q,23323,0.0,191148.0,191149.0,191144.0,191145.0,191151.0,191143.0,191147.0,191150.0,191146.0,191152.0
26,3,7377,C,191148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,4,0,Q,5,0.0,99.0,16.0,87.0,39.0,100.0,6.0,36.0,52.0,81.0,84.0
28,4,6,C,84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,4,128,Q,558,0.0,84.0,5043.0,5041.0,5039.0,5037.0,5036.0,5035.0,5042.0,5038.0,5040.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99969,13865,748,C,146275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99970,13865,892,Q,17653,1.0,146275.0,146276.0,146279.0,146280.0,146273.0,146281.0,146278.0,146282.0,146277.0,146274.0
99971,13865,926,C,146279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99972,13865,1022,C,146280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99973,13865,1044,C,146273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99974,13865,1831,Q,17653,1.0,146275.0,146276.0,146279.0,146280.0,146273.0,146281.0,146278.0,146282.0,146277.0,146274.0
99975,13865,1837,C,146275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99976,13865,2063,C,146275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99977,13865,2236,C,146280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99978,13865,2298,C,146278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99979,13865,2457,C,146277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99980,13865,2550,C,146274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99981,13866,0,Q,66,0.0,353.0,348.0,384.0,414.0,610.0,410.0,372.0,656.0,594.0,642.0
99982,13866,66,C,353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99983,13867,0,Q,2459,0.0,10796.0,21767.0,21770.0,7679.0,21769.0,21768.0,8253.0,7717.0,21772.0,21771.0
99984,13867,3,C,10796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99985,13867,120,C,21767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99986,13867,157,C,21770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99987,13867,432,C,7679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99988,13867,895,Q,18819,0.0,93996.0,64139.0,155559.0,155562.0,52896.0,155561.0,155557.0,45613.0,155558.0,7700.0
99989,13867,898,C,93996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99990,13867,1093,C,64139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99991,13867,1176,C,155559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99992,13867,1822,C,52896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99993,13868,0,Q,26,0.0,341.0,246.0,233.0,280.0,289.0,301.0,277.0,299.0,334.0,315.0
99994,13868,10,C,341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99995,13868,24,Q,15741,0.0,130920.0,125203.0,130933.0,130916.0,130930.0,130924.0,130929.0,130925.0,130922.0,130926.0
99996,13868,36,Q,15775,0.0,411.0,414.0,131186.0,131189.0,131188.0,131184.0,131185.0,131187.0,131190.0,131191.0
99997,13868,39,C,411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99998,13869,0,Q,74,0.0,771.0,726.0,778.0,729.0,704.0,740.0,687.0,739.0,684.0,738.0

In [76]:
# Open file    
fileHandler = open ('YandexRelPredChallenge.txt', "r")
# Get list of all lines in file
listOfLines = fileHandler.readlines()
# Close file 
fileHandler.close()
#Empty frame to fill in
index=[x for x in range(0,100000)]
df = pd.DataFrame(index=index, columns=['SessionID', 'TimePassed',
                 'TypeOfAction', 'QueryID','RegionID', 'ListOfURLs', 'URLID'])
df.name='data'

# Iterate over the lines and fill in the dataframe
for ind, line in zip(index, listOfLines):
#     print('index')
    line = line.strip().split()
    if line[2]=='Q':

        df.loc[ind] = pd.Series({'SessionID':line[0], 'TimePassed':line[1], 'TypeOfAction':line[2],
                                     'QueryID':line[3],'RegionID':line[4], 'ListOfURLs':line[5:], 'URLID':np.nan})
    else:
        df.loc[ind] = pd.Series({'SessionID':line[0], 'TimePassed':line[1], 'TypeOfAction':line[2],
                                     'QueryID':np.nan,'RegionID':np.nan, 'ListOfURLs':np.nan, 'URLID':line[3:]})

In [77]:
# Getting the types right. 
df.SessionID = df.SessionID.astype(int)
df.TimePassed = df.TimePassed.astype(int)
df.TypeOfAction = df.TypeOfAction.astype(str)
df.RegionID = df.RegionID.astype(float)
df.TimePassed = df.TimePassed.astype(float)

def parse_ulrid(x):
    if type(x)==list:
        return x[0]
    else:
        return x
df.URLID = df.URLID.apply(parse_ulrid)
df.URLID = df.URLID.astype(float)

Inspect

In [47]:
df

,SessionID,TimePassed,TypeOfAction,QueryID,RegionID,ListOfURLs,URLID
0,0,0.0,Q,8,0.0,"[7, 103, 51, 92, 43, 12, 73, 69, 27, 105]",NaN
1,0,36.0,Q,174,0.0,"[1625, 1627, 1623, 1626, 1624, 1622, 1619, 162...",NaN
2,0,50.0,Q,227,0.0,"[2094, 2091, 2087, 2089, 2093, 2088, 2090, 209...",NaN
3,0,515.0,Q,174,0.0,"[1625, 1627, 1623, 1626, 1624, 1622, 1619, 162...",NaN
4,0,524.0,Q,1974,0.0,"[17562, 1627, 1626, 1623, 2091, 17559, 17563, ...",NaN
5,0,527.0,C,NaN,NaN,NaN,17562
6,0,528.0,C,NaN,NaN,NaN,1627
7,0,529.0,C,NaN,NaN,NaN,1626
8,1,0.0,Q,9,0.0,"[13, 70, 66, 94, 50, 104, 29, 21, 89, 85]",NaN
9,1,20.0,C,NaN,NaN,NaN,104
10,1,123.0,C,NaN,NaN,NaN,21
11,1,291.0,Q,1324,0.0,"[11807, 11805, 11812, 11813, 11804, 11809, 118...",NaN
12,1,301.0,C,NaN,NaN,NaN,11813
13,1,8605.0,C,NaN,NaN,NaN,11808
14,1,8737.0,C,NaN,NaN,NaN,11810
15,1,8884.0,C,NaN,NaN,NaN,11811
16,2,0.0,Q,7,0.0,"[77, 93, 55, 86, 64, 67, 76, 98, 18, 54]",NaN
17,2,11.0,C,NaN,NaN,NaN,18
18,2,1122.0,Q,4088,0.0,"[35554, 35561, 35562, 35556, 35557, 35567, 355...",NaN
19,2,1127.0,C,NaN,NaN,NaN,35561
20,2,1645.0,Q,5863,0.0,"[36505, 36514, 36508, 36509, 50480, 36510, 365...",NaN
21,2,1646.0,C,NaN,NaN,NaN,36505
22,3,0.0,Q,1,0.0,"[15, 32, 0, 9, 80, 30, 88, 82, 97, 65]",NaN
23,3,40.0,Q,32,0.0,"[314, 230, 338, 282, 335, 257, 216, 241, 342, ...",NaN
24,3,95.0,Q,431,0.0,"[3884, 0, 3887, 3888, 3889, 3885, 3882, 3881, ...",NaN
25,3,103.0,C,NaN,NaN,NaN,3884
26,3,7367.0,Q,23323,0.0,"[191148, 191149, 191144, 191145, 191151, 19114...",NaN
27,3,7377.0,C,NaN,NaN,NaN,191148
28,4,0.0,Q,5,0.0,"[99, 16, 87, 39, 100, 6, 36, 52, 81, 84]",NaN
29,4,6.0,C,NaN,NaN,NaN,84
...,...,...,...,...,...,...,...
99970,13865,748.0,C,NaN,NaN,NaN,146275
99971,13865,892.0,Q,17653,1.0,"[146275, 146276, 146279, 146280, 146273, 14628...",NaN
99972,13865,926.0,C,NaN,NaN,NaN,146279
99973,13865,1022.0,C,NaN,NaN,NaN,146280
99974,13865,1044.0,C,NaN,NaN,NaN,146273
99975,13865,1831.0,Q,17653,1.0,"[146275, 146276, 146279, 146280, 146273, 14628...",NaN
99976,13865,1837.0,C,NaN,NaN,NaN,146275
99977,13865,2063.0,C,NaN,NaN,NaN,146275
99978,13865,2236.0,C,NaN,NaN,NaN,146280
99979,13865,2298.0,C,NaN,NaN,NaN,146278
99980,13865,2457.0,C,NaN,NaN,NaN,146277
99981,13865,2550.0,C,NaN,NaN,NaN,146274
99982,13866,0.0,Q,66,0.0,"[353, 348, 384, 414, 610, 410, 372, 656, 594, ...",NaN
99983,13866,66.0,C,NaN,NaN,NaN,353
99984,13867,0.0,Q,2459,0.0,"[10796, 21767, 21770, 7679, 21769, 21768, 8253...",NaN
99985,13867,3.0,C,NaN,NaN,NaN,10796
99986,13867,120.0,C,NaN,NaN,NaN,21767
99987,13867,157.0,C,NaN,NaN,NaN,21770
99988,13867,432.0,C,NaN,NaN,NaN,7679
99989,13867,895.0,Q,18819,0.0,"[93996, 64139, 155559, 155562, 52896, 155561, ...",NaN
99990,13867,898.0,C,NaN,NaN,NaN,93996
99991,13867,1093.0,C,NaN,NaN,NaN,64139
99992,13867,1176.0,C,NaN,NaN,NaN,155559
99993,13867,1822.0,C,NaN,NaN,NaN,52896
99994,13868,0.0,Q,26,0.0,"[341, 246, 233, 280, 289, 301, 277, 299, 334, ...",NaN
99995,13868,10.0,C,NaN,NaN,NaN,341
99996,13868,24.0,Q,15741,0.0,"[130920, 125203, 130933, 130916, 130930, 13092...",NaN
99997,13868,36.0,Q,15775,0.0,"[411, 414, 131186, 131189, 131188, 131184, 131...",NaN
99998,13868,39.0,C,NaN,NaN,NaN,411
99999,13869,0.0,Q,74,0.0,"[771, 726, 778, 729, 704, 740, 687, 739, 684, ...",NaN

In [64]:
test = df[df.SessionID==2]
test

,SessionID,TimePassed,TypeOfAction,QueryID,RegionID,ListOfURLs,URLID
16,2,0.0,Q,7,0.0,"[77, 93, 55, 86, 64, 67, 76, 98, 18, 54]",NaN
17,2,11.0,C,NaN,NaN,NaN,18.0
18,2,1122.0,Q,4088,0.0,"[35554, 35561, 35562, 35556, 35557, 35567, 355...",NaN
19,2,1127.0,C,NaN,NaN,NaN,35561.0
20,2,1645.0,Q,5863,0.0,"[36505, 36514, 36508, 36509, 50480, 36510, 365...",NaN
21,2,1646.0,C,NaN,NaN,NaN,36505.0

So lets say that our experimental system is what Yandex return as a list now. Production or the system that is going to 'suck' (sort of a dumb system that we are going to compare against) will be constructed as shuffling each ranking for a query.

Now, other approach, probably the better one: take the initial order as the 'benchmark' create only list of 0,1 (relevnace scores) for each system.
    - rember that we are interested only in three [3] first results.

In [80]:
# Create the relevance score ranking (those tables = that we called 'runs')
def relevance_list(l,acc=0.5, res_length=3):
    """ Control the 'accuracy'/'performance' with acc param. Only lists of length 3. """
    if type(l)==list:
        res = list()
        for x in l:
            if rnd.random()<acc:
                res.append((x,1.0))
            else:
                res.append((x,0.0))
        return rnd.sample(res, res_length)
    else:
        return l

df['id_rel_e'] = df.ListOfURLs.apply(relevance_list, acc=0.7) 
df['id_rel_p'] = df.ListOfURLs.apply(relevance_list)

In [82]:
def extract_rel(l):
    if type(l) == list:
        res = list()
        for tup in l:
            res.append(tup[1])
        return res
    else:
        return l
def extract_id(l):
    if type(l) == list:
        res = list()
        for tup in l:
            res.append(tup[0])
        return res
    else:
        return l
df['rel_e'] = df.id_rel_e.apply(extract_rel)
df['rel_p'] = df.id_rel_p.apply(extract_rel)
df['id_e'] = df.id_rel_e.apply(extract_id)
df['id_p'] = df.id_rel_p.apply(extract_id)

In [73]:
df

,SessionID,TimePassed,TypeOfAction,QueryID,RegionID,ListOfURLs,URLID,rank_id_rel_e,rank_id_rel_p,rank_rel_e,rank_rel_p,rank_id_e,rand_id_p,rel_e,rel_p,id_e,id_p
0,0,0.0,Q,8,0.0,"[7, 103, 51, 92, 43, 12, 73, 69, 27, 105]",NaN,"[(7, 1.0), (103, 1.0), (27, 1.0)]","[(27, 0.0), (12, 0.0), (73, 0.0)]","[1.0, 1.0, 1.0]","[0.0, 0.0, 0.0]","[7, 103, 27]","[27, 12, 73]","[1.0, 1.0, 1.0]","[0.0, 0.0, 0.0]","[7, 103, 27]","[27, 12, 73]"
1,0,36.0,Q,174,0.0,"[1625, 1627, 1623, 1626, 1624, 1622, 1619, 162...",NaN,"[(1619, 1.0), (1626, 1.0), (1622, 1.0)]","[(1623, 0.0), (1622, 1.0), (1626, 1.0)]","[1.0, 1.0, 1.0]","[0.0, 1.0, 1.0]","[1619, 1626, 1622]","[1623, 1622, 1626]","[1.0, 1.0, 1.0]","[0.0, 1.0, 1.0]","[1619, 1626, 1622]","[1623, 1622, 1626]"
2,0,50.0,Q,227,0.0,"[2094, 2091, 2087, 2089, 2093, 2088, 2090, 209...",NaN,"[(2089, 0.0), (2093, 1.0), (2091, 0.0)]","[(2094, 1.0), (2091, 1.0), (2086, 0.0)]","[0.0, 1.0, 0.0]","[1.0, 1.0, 0.0]","[2089, 2093, 2091]","[2094, 2091, 2086]","[0.0, 1.0, 0.0]","[1.0, 1.0, 0.0]","[2089, 2093, 2091]","[2094, 2091, 2086]"
3,0,515.0,Q,174,0.0,"[1625, 1627, 1623, 1626, 1624, 1622, 1619, 162...",NaN,"[(1620, 1.0), (1624, 1.0), (1626, 1.0)]","[(1621, 1.0), (1619, 1.0), (1627, 0.0)]","[1.0, 1.0, 1.0]","[1.0, 1.0, 0.0]","[1620, 1624, 1626]","[1621, 1619, 1627]","[1.0, 1.0, 1.0]","[1.0, 1.0, 0.0]","[1620, 1624, 1626]","[1621, 1619, 1627]"
4,0,524.0,Q,1974,0.0,"[17562, 1627, 1626, 1623, 2091, 17559, 17563, ...",NaN,"[(17563, 1.0), (2091, 0.0), (1627, 1.0)]","[(1623, 0.0), (2091, 0.0), (17559, 1.0)]","[1.0, 0.0, 1.0]","[0.0, 0.0, 1.0]","[17563, 2091, 1627]","[1623, 2091, 17559]","[1.0, 0.0, 1.0]","[0.0, 0.0, 1.0]","[17563, 2091, 1627]","[1623, 2091, 17559]"
5,0,527.0,C,NaN,NaN,NaN,17562.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0,528.0,C,NaN,NaN,NaN,1627.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0,529.0,C,NaN,NaN,NaN,1626.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1,0.0,Q,9,0.0,"[13, 70, 66, 94, 50, 104, 29, 21, 89, 85]",NaN,"[(21, 0.0), (104, 1.0), (50, 0.0)]","[(66, 0.0), (94, 1.0), (104, 1.0)]","[0.0, 1.0, 0.0]","[0.0, 1.0, 1.0]","[21, 104, 50]","[66, 94, 104]","[0.0, 1.0, 0.0]","[0.0, 1.0, 1.0]","[21, 104, 50]","[66, 94, 104]"
9,1,20.0,C,NaN,NaN,NaN,104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1,123.0,C,NaN,NaN,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1,291.0,Q,1324,0.0,"[11807, 11805, 11812, 11813, 11804, 11809, 118...",NaN,"[(11813, 1.0), (11808, 0.0), (11811, 1.0)]","[(11806, 1.0), (11808, 0.0), (11804, 0.0)]","[1.0, 0.0, 1.0]","[1.0, 0.0, 0.0]","[11813, 11808, 11811]","[11806, 11808, 11804]","[1.0, 0.0, 1.0]","[1.0, 0.0, 0.0]","[11813, 11808, 11811]","[11806, 11808, 11804]"
12,1,301.0,C,NaN,NaN,NaN,11813.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1,8605.0,C,NaN,NaN,NaN,11808.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1,8737.0,C,NaN,NaN,NaN,11810.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1,8884.0,C,NaN,NaN,NaN,11811.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2,0.0,Q,7,0.0,"[77, 93, 55, 86, 64, 67, 76, 98, 18, 54]",NaN,"[(64, 0.0), (18, 1.0), (98, 1.0)]","[(18, 0.0), (98, 0.0), (76, 1.0)]","[0.0, 1.0, 1.0]","[0.0, 0.0, 1.0]","[64, 18, 98]","[18, 98, 76]","[0.0, 1.0, 1.0]","[0.0, 0.0, 1.0]","[64, 18, 98]","[18, 98, 76]"
17,2,11.0,C,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2,1122.0,Q,4088,0.0,"[35554, 35561, 35562, 35556, 35557, 35567, 355...",NaN,"[(35550, 1.0), (35568, 1.0), (35553, 0.0)]","[(35566, 0.0), (35557, 0.0), (35550, 1.0)]","[1.0, 1.0, 0.0]","[0.0, 0.0, 1.0]","[35550, 35568, 35553]","[35566, 35557, 35550]","[1.0, 1.0, 0.0]","[0.0, 0.0, 1.0]","[35550, 35568, 35553]","[35566, 35557, 35550]"
19,2,1127.0,C,NaN,NaN,NaN,35561.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2,1645.0,Q,5863,0.0,"[36505, 36514, 36508, 36509, 50480, 36510, 365...",NaN,"[(50481, 1.0), (36505, 1.0), (50480, 1.0)]","[(50480, 1.0), (36508, 0.0), (36514, 0.0)]","[1.0, 1.0, 1.0]","[1.0, 0.0, 0.0]","[50481, 36505, 50480]","[50480, 36508, 36514]","[1.0, 1.0, 1.0]","[1.0, 0.0, 0.0]","[50481, 36505, 50480]","[50480, 36508, 36514]"
21,2,1646.0,C,NaN,NaN,NaN,36505.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,3,0.0,Q,1,0.0,"[15, 32, 0, 9, 80, 30, 88, 82, 97, 65]",NaN,"[(65, 0.0), (9, 0.0), (88, 0.0)]","[(9, 0.0), (32, 1.0), (30, 0.0)]","[0.0, 0.0, 0.0]","[0.0, 1.0, 0.0]","[65, 9, 88]","[9, 32, 30]","[0.0, 0.0, 0.0]","[0.0, 1.0, 0.0]","[65, 9, 88]","[9, 32, 30]"
23,3,40.0,Q,32,0.0,"[314, 230, 338, 282, 335, 257, 216, 241, 342, ...",NaN,"[(335, 0.0), (338, 0.0), (342, 0.0)]","[(241, 1.0), (335, 1.0), (282, 1.0)]","[0.0, 0.0, 0.0]","[1.0, 1.0, 1.0]","[335, 338, 342]","[241, 335, 282]","[0.0, 0.0, 0.0]","[1.0, 1.0, 1.0]","[335, 338, 342]","[241, 335, 282]"
24,3,95.0,Q,431,0.0,"[3884, 0, 3887, 3888, 3889, 3885, 3882, 3881, ...",NaN,"[(3888, 1.0), (3884, 1.0), (3887, 0.0)]","[(0, 1.0), (3882, 1.0), (3886, 1.0)]","[1.0, 1.0, 0.0]","[1.0, 1.0, 1.0]","[3888, 3884, 3887]","[0, 3882, 3886]","[1.0, 1.0, 0.0]","[1.0, 1.0, 1.0]","[3888, 3884, 3887]","[0, 3882, 3886]"
25,3,103.0,C,NaN,NaN,NaN,3884.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,3,7367.0,Q,23323,0.0,"[191148, 191149, 191144, 191145, 191151, 19114...",NaN,"[(191145, 1.0), (191144, 1.0), (191143, 1.0)]","[(191143, 0.0), (191146, 1.0), (191147, 0.0)]","[1.0, 1.0, 1.0]","[0.0, 1.0, 0.0]","[191145, 191144, 191143]","[191143, 191146, 191147]","[1.0, 1.0, 1.0]","[0.0, 1.0, 0.0]","[191145, 191144, 191143]","[191143, 191146, 191147]"
27,3,7377.0,C,NaN,NaN,NaN,191148.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,4,0.0,Q,5,0.0,"[99, 16, 87, 39, 100, 6, 36, 52, 81, 84]",NaN,"[(36, 1.0), (39, 1.0), (16, 0.0)]","[(36, 0.0), (6, 1.0), (100, 1.0)]","[1.0, 1.0, 0.0]","[0.0, 1.0, 1.0]","[36, 39, 16]","[36, 6, 100]","[1.0, 1.0, 0.0]","[0.0, 1.0, 1.0]","[36, 39, 16]","[36, 6, 100]"
29,4,6.0,C,NaN,NaN,NaN,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,13865,748.0,C,NaN,NaN,NaN,146275.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99971,13865,892.0,Q,17653,1.0,"[146275, 146276, 146279, 146280, 146273, 14628...",NaN,"[(146280, 0.0), (146279, 0.0), (146273, 0.0)]","[(146279, 0.0), (146273, 1.0), (146277, 1.0)]","[0.0, 0.0, 0.0]","[0.0, 1.0, 1.0]","[146280, 146279, 146273]","[146279, 146273, 146277]","[0.0, 0.0, 0.0]","[0.0, 1.0, 1.0]","[146280, 146279, 146273]","[146279, 146273, 146277]"
99972,13865,926.0,C,NaN,NaN,NaN,146279.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99973,13865,1022.0,C,NaN,NaN,NaN,146280.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99974,13865,1044.0,C,NaN,NaN,NaN,146273.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99975,13865,1831.0,Q,17653,1.0,"[146275, 146276, 146279, 146280, 146273, 14628...",NaN,"[(146277, 1.0), (146278, 1.0), (146276, 0.0)]","[(146282, 0.0), (146273, 0.0), (146276, 1.0)]","[1.0, 1.0, 0.0]","[0.0, 0.0, 1.0]","[146277, 146278, 146276]","[146282, 146273, 146276]","[1.0, 1.0, 0.0]","[0.0, 0.0, 1.0]","[146277, 146278, 146276]","[146282, 146273, 146276]"
99976,13865,1837.0,C,NaN,NaN,NaN,146275.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99977,13865,2063.0,C,NaN,NaN,NaN,146275.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99978,13865,2236.0,C,NaN,NaN,NaN,146280.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99979,13865,2298.0,C,NaN,NaN,NaN,146278.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99980,13865,2457.0,C,NaN,NaN,NaN,146277.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99981,13865,2550.0,C,NaN,NaN,NaN,146274.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99982,13866,0.0,Q,66,0.0,"[353, 348, 384, 414, 610, 410, 372, 656, 594, ...",NaN,"[(372, 0.0), (348, 1.0), (610, 0.0)]","[(642, 1.0), (656, 1.0), (410, 1.0)]","[0.0, 1.0, 0.0]","[1.0, 1.0, 1.0]","[372, 348, 610]","[642, 656, 410]","[0.0, 1.0, 0.0]","[1.0, 1.0, 1.0]","[372, 348, 610]","[642, 656, 410]"
99983,13866,66.0,C,NaN,NaN,NaN,353.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99984,13867,0.0,Q,2459,0.0,"[10796, 21767, 21770, 7679, 21769, 21768, 8253...",NaN,"[(7717, 1.0), (21770, 1.0), (21771, 1.0)]","[(10796, 1.0), (21769, 0.0), (8253, 1.0)]","[1.0, 1.0, 1.0]","[1.0, 0.0, 1.0]","[7717, 21770, 21771]","[10796, 21769, 8253]","[1.0, 1.0, 1.0]","[1.0, 0.0, 1.0]","[7717, 21770, 21771]","[10796, 21769, 8253]"
99985,13867,3.0,C,NaN,NaN,NaN,10796.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99986,13867,120.0,C,NaN,NaN,NaN,21767.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99987,13867,157.0,C,NaN,NaN,NaN,21770.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99988,13867,432.0,C,NaN,NaN,NaN,7679.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99989,13867,895.0,Q,18819,0.0,"[93996, 64139, 155559, 155562, 52896, 155561, ...",NaN,"[(7700, 1.0), (155559, 1.0), (45613, 1.0)]","[(155562, 0.0), (7700, 0.0), (155561, 0.0)]","[1.0, 1.0, 1.0]","[0.0, 0.0, 0.0]","[7700, 155559, 45613]","[155562, 7700, 155561]","[1.0, 1.0, 1.0]","[0.0, 0.0, 0.0]","[7700, 155559, 45613]","[155562, 7700, 155561]"
99990,13867,898.0,C,NaN,NaN,NaN,93996.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99991,13867,1093.0,C,NaN,NaN,NaN,64139.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99992,13867,1176.0,C,NaN,NaN,NaN,155559.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99993,13867,1822.0,C,NaN,NaN,NaN,52896.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99994,13868,0.0,Q,26,0.0,"[341, 246, 233, 280, 289, 301, 277, 299, 334, ...",NaN,"[(233, 1.0), (315, 1.0), (289, 1.0)]","[(299, 1.0), (233, 0.0), (301, 1.0)]","[1.0, 1.0, 1.0]","[1.0, 0.0, 1.0]","[233, 315, 289]","[299, 233, 301]","[1.0, 1.0, 1.0]","[1.0, 0.0, 1.0]","[233, 315, 289]","[299, 233, 301]"
99995,13868,10.0,C,NaN,NaN,NaN,341.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99996,13868,24.0,Q,15741,0.0,"[130920, 125203, 130933, 130916, 130930, 13092...",NaN,"[(130922, 1.0), (130933, 0.0), (130925, 1.0)]","[(130925, 1.0), (130920, 0.0), (125203, 0.0)]","[1.0, 0.0, 1.0]","[1.0, 0.0, 0.0]","[130922, 130933, 130925]","[130925, 130920, 125203]","[1.0, 0.0, 1.0]","[1.0, 0.0, 0.0]","[130922, 130933, 130925]","[130925, 130920, 125203]"
99997,13868,36.0,Q,15775,0.0,"[411, 414, 131186, 131189, 131188, 131184, 131...",NaN,"[(131190, 0.0), (131185, 0.0), (131184, 1.0)]","[(131191, 0.0), (411, 0.0), (131185, 0.0)]","[0.0, 0.0, 1.0]","[0.0, 0.0, 0.0]","[131190, 131185, 131184]","[131191, 411, 131185]","[0.0, 0.0, 1.0]","[0.0, 0.0, 0.0]","[131190, 131185, 131184]","[131191, 411, 131185]"
99998,13868,39.0,C,NaN,NaN,NaN,411.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99999,13869,0.0,Q,74,0.0,"[771, 726, 778, 729, 704, 740, 687, 739, 684, ...",NaN,"[(726, 1.0), (687, 1.0), (729, 1.0)]","[(726, 0.0), (729, 1.0), (687, 0.0)]","[1.0, 1.0, 1.0]","[0.0, 1.0, 0.0]","[726, 687, 729]","[726, 729, 687]","[1.0, 1.0, 1.0]","[0.0, 1.0, 0.0]","[726, 687, 729]","[726, 729, 687]"

Step 2: Calculate ERR

In [ ]:
%%latex
Calculate ERR for each query:

\begin{equation}
 ERR &= \sum_{r=1}^{N}( \prod_{i=1}^{r-1}(1-\theta_i)\theta_r)\frac{1}{r} 
\end{equation}
    
\begin{equation}
    \theta_i &= \frac{2^{rel} -1 }{2^{max_rel}}
\end{equation}

In [95]:
# def ERR(l):
#     """ List or relevance scores. """ 
#     if type(l)==list:
#         # calculate the thetas first
#         theta_i_list = [ (2**i -1)/(2**1) for i in l]
#         theta_r_list = [ (2**i - 1)/(2**1) for i in [0,1] ]
#         # Calcualate total ERR score for the ranking 
#         err = [ (1-theta_i)*theta_r_list[1]*1/2 for theta_i in theta_i_list ]
#         return sum(err)
#     else:
#         return l
# df['err_e'] = df.rel_e.apply(ERR)
# df['err_p'] = df.rel_p.apply(ERR)


def ERR(l):
    theta = [ (2**i - 1)/(2) for i in [0,1]]
    err=0
    for rank in range(len(l)):
        prod = 1
        for idx in range(rank):
            prod*=(1-theta[l[idx]])
        prod*=(1/(rank+1))*theta[l[rank]]
        err+=prod
    return err

0.6666666666666666

In [85]:
df

,SessionID,TimePassed,TypeOfAction,QueryID,RegionID,ListOfURLs,URLID,id_rel_e,id_rel_p,rel_e,rel_p,id_e,id_p,err_e,err_p
0,0,0.0,Q,8,0.0,"[7, 103, 51, 92, 43, 12, 73, 69, 27, 105]",NaN,"[(69, 1.0), (92, 1.0), (12, 1.0)]","[(51, 0.0), (92, 1.0), (7, 1.0)]","[1.0, 1.0, 1.0]","[0.0, 1.0, 1.0]","[69, 92, 12]","[51, 92, 7]",0.375,0.500
1,0,36.0,Q,174,0.0,"[1625, 1627, 1623, 1626, 1624, 1622, 1619, 162...",NaN,"[(1625, 1.0), (1618, 0.0), (1622, 1.0)]","[(1622, 0.0), (1624, 1.0), (1619, 1.0)]","[1.0, 0.0, 1.0]","[0.0, 1.0, 1.0]","[1625, 1618, 1622]","[1622, 1624, 1619]",0.500,0.500
2,0,50.0,Q,227,0.0,"[2094, 2091, 2087, 2089, 2093, 2088, 2090, 209...",NaN,"[(2086, 0.0), (2089, 0.0), (2092, 1.0)]","[(2093, 0.0), (2087, 1.0), (2091, 0.0)]","[0.0, 0.0, 1.0]","[0.0, 1.0, 0.0]","[2086, 2089, 2092]","[2093, 2087, 2091]",0.625,0.625
3,0,515.0,Q,174,0.0,"[1625, 1627, 1623, 1626, 1624, 1622, 1619, 162...",NaN,"[(1619, 1.0), (1618, 1.0), (1622, 0.0)]","[(1624, 1.0), (1618, 1.0), (1625, 1.0)]","[1.0, 1.0, 0.0]","[1.0, 1.0, 1.0]","[1619, 1618, 1622]","[1624, 1618, 1625]",0.500,0.375
4,0,524.0,Q,1974,0.0,"[17562, 1627, 1626, 1623, 2091, 17559, 17563, ...",NaN,"[(17562, 1.0), (2091, 1.0), (17563, 1.0)]","[(17559, 0.0), (17561, 0.0), (17563, 0.0)]","[1.0, 1.0, 1.0]","[0.0, 0.0, 0.0]","[17562, 2091, 17563]","[17559, 17561, 17563]",0.375,0.750
5,0,527.0,C,NaN,NaN,NaN,17562.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0,528.0,C,NaN,NaN,NaN,1627.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0,529.0,C,NaN,NaN,NaN,1626.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1,0.0,Q,9,0.0,"[13, 70, 66, 94, 50, 104, 29, 21, 89, 85]",NaN,"[(70, 1.0), (29, 0.0), (13, 0.0)]","[(29, 1.0), (70, 0.0), (50, 0.0)]","[1.0, 0.0, 0.0]","[1.0, 0.0, 0.0]","[70, 29, 13]","[29, 70, 50]",0.625,0.625
9,1,20.0,C,NaN,NaN,NaN,104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1,123.0,C,NaN,NaN,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1,291.0,Q,1324,0.0,"[11807, 11805, 11812, 11813, 11804, 11809, 118...",NaN,"[(11806, 0.0), (11808, 1.0), (11813, 1.0)]","[(11804, 0.0), (11805, 1.0), (11809, 1.0)]","[0.0, 1.0, 1.0]","[0.0, 1.0, 1.0]","[11806, 11808, 11813]","[11804, 11805, 11809]",0.500,0.500
12,1,301.0,C,NaN,NaN,NaN,11813.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1,8605.0,C,NaN,NaN,NaN,11808.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1,8737.0,C,NaN,NaN,NaN,11810.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1,8884.0,C,NaN,NaN,NaN,11811.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2,0.0,Q,7,0.0,"[77, 93, 55, 86, 64, 67, 76, 98, 18, 54]",NaN,"[(18, 1.0), (93, 1.0), (55, 1.0)]","[(54, 1.0), (93, 0.0), (18, 1.0)]","[1.0, 1.0, 1.0]","[1.0, 0.0, 1.0]","[18, 93, 55]","[54, 93, 18]",0.375,0.500
17,2,11.0,C,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2,1122.0,Q,4088,0.0,"[35554, 35561, 35562, 35556, 35557, 35567, 355...",NaN,"[(35550, 1.0), (35556, 1.0), (35568, 1.0)]","[(35554, 1.0), (35562, 1.0), (35568, 1.0)]","[1.0, 1.0, 1.0]","[1.0, 1.0, 1.0]","[35550, 35556, 35568]","[35554, 35562, 35568]",0.375,0.375
19,2,1127.0,C,NaN,NaN,NaN,35561.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2,1645.0,Q,5863,0.0,"[36505, 36514, 36508, 36509, 50480, 36510, 365...",NaN,"[(50481, 0.0), (36505, 0.0), (36514, 1.0)]","[(50481, 1.0), (36505, 0.0), (50483, 1.0)]","[0.0, 0.0, 1.0]","[1.0, 0.0, 1.0]","[50481, 36505, 36514]","[50481, 36505, 50483]",0.625,0.500
21,2,1646.0,C,NaN,NaN,NaN,36505.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,3,0.0,Q,1,0.0,"[15, 32, 0, 9, 80, 30, 88, 82, 97, 65]",NaN,"[(82, 0.0), (80, 1.0), (9, 1.0)]","[(80, 1.0), (30, 1.0), (32, 0.0)]","[0.0, 1.0, 1.0]","[1.0, 1.0, 0.0]","[82, 80, 9]","[80, 30, 32]",0.500,0.500
23,3,40.0,Q,32,0.0,"[314, 230, 338, 282, 335, 257, 216, 241, 342, ...",NaN,"[(342, 1.0), (314, 0.0), (257, 0.0)]","[(342, 0.0), (314, 0.0), (335, 0.0)]","[1.0, 0.0, 0.0]","[0.0, 0.0, 0.0]","[342, 314, 257]","[342, 314, 335]",0.625,0.750
24,3,95.0,Q,431,0.0,"[3884, 0, 3887, 3888, 3889, 3885, 3882, 3881, ...",NaN,"[(3889, 0.0), (3885, 0.0), (3887, 0.0)]","[(3888, 0.0), (3889, 0.0), (0, 0.0)]","[0.0, 0.0, 0.0]","[0.0, 0.0, 0.0]","[3889, 3885, 3887]","[3888, 3889, 0]",0.750,0.750
25,3,103.0,C,NaN,NaN,NaN,3884.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,3,7367.0,Q,23323,0.0,"[191148, 191149, 191144, 191145, 191151, 19114...",NaN,"[(191147, 1.0), (191150, 1.0), (191143, 1.0)]","[(191147, 0.0), (191151, 0.0), (191148, 0.0)]","[1.0, 1.0, 1.0]","[0.0, 0.0, 0.0]","[191147, 191150, 191143]","[191147, 191151, 191148]",0.375,0.750
27,3,7377.0,C,NaN,NaN,NaN,191148.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,4,0.0,Q,5,0.0,"[99, 16, 87, 39, 100, 6, 36, 52, 81, 84]",NaN,"[(100, 1.0), (84, 1.0), (99, 0.0)]","[(39, 1.0), (36, 0.0), (84, 0.0)]","[1.0, 1.0, 0.0]","[1.0, 0.0, 0.0]","[100, 84, 99]","[39, 36, 84]",0.500,0.625
29,4,6.0,C,NaN,NaN,NaN,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,13865,748.0,C,NaN,NaN,NaN,146275.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99971,13865,892.0,Q,17653,1.0,"[146275, 146276, 146279, 146280, 146273, 14628...",NaN,"[(146276, 1.0), (146275, 1.0), (146273, 0.0)]","[(146278, 1.0), (146279, 0.0), (146281, 0.0)]","[1.0, 1.0, 0.0]","[1.0, 0.0, 0.0]","[146276, 146275, 146273]","[146278, 146279, 146281]",0.500,0.625
99972,13865,926.0,C,NaN,NaN,NaN,146279.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99973,13865,1022.0,C,NaN,NaN,NaN,146280.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99974,13865,1044.0,C,NaN,NaN,NaN,146273.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99975,13865,1831.0,Q,17653,1.0,"[146275, 146276, 146279, 146280, 146273, 14628...",NaN,"[(146281, 1.0), (146275, 1.0), (146273, 1.0)]","[(146278, 1.0), (146282, 1.0), (146279, 0.0)]","[1.0, 1.0, 1.0]","[1.0, 1.0, 0.0]","[146281, 146275, 146273]","[146278, 146282, 146279]",0.375,0.500
99976,13865,1837.0,C,NaN,NaN,NaN,146275.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99977,13865,2063.0,C,NaN,NaN,NaN,146275.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99978,13865,2236.0,C,NaN,NaN,NaN,146280.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99979,13865,2298.0,C,NaN,NaN,NaN,146278.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99980,13865,2457.0,C,NaN,NaN,NaN,146277.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99981,13865,2550.0,C,NaN,NaN,NaN,146274.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99982,13866,0.0,Q,66,0.0,"[353, 348, 384, 414, 610, 410, 372, 656, 594, ...",NaN,"[(642, 0.0), (610, 0.0), (414, 1.0)]","[(656, 1.0), (410, 1.0), (594, 1.0)]","[0.0, 0.0, 1.0]","[1.0, 1.0, 1.0]","[642, 610, 414]","[656, 410, 594]",0.625,0.375
99983,13866,66.0,C,NaN,NaN,NaN,353.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99984,13867,0.0,Q,2459,0.0,"[10796, 21767, 21770, 7679, 21769, 21768, 8253...",NaN,"[(10796, 0.0), (21767, 0.0), (21769, 0.0)]","[(10796, 1.0), (21767, 1.0), (8253, 0.0)]","[0.0, 0.0, 0.0]","[1.0, 1.0, 0.0]","[10796, 21767, 21769]","[10796, 21767, 8253]",0.750,0.500
99985,13867,3.0,C,NaN,NaN,NaN,10796.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99986,13867,120.0,C,NaN,NaN,NaN,21767.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99987,13867,157.0,C,NaN,NaN,NaN,21770.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99988,13867,432.0,C,NaN,NaN,NaN,7679.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99989,13867,895.0,Q,18819,0.0,"[93996, 64139, 155559, 155562, 52896, 155561, ...",NaN,"[(64139, 1.0), (45613, 1.0), (7700, 1.0)]","[(155561, 0.0), (93996, 0.0), (155559, 1.0)]","[1.0, 1.0, 1.0]","[0.0, 0.0, 1.0]","[64139, 45613, 7700]","[155561, 93996, 155559]",0.375,0.625
99990,13867,898.0,C,NaN,NaN,NaN,93996.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99991,13867,1093.0,C,NaN,NaN,NaN,64139.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99992,13867,1176.0,C,NaN,NaN,NaN,155559.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99993,13867,1822.0,C,NaN,NaN,NaN,52896.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99994,13868,0.0,Q,26,0.0,"[341, 246, 233, 280, 289, 301, 277, 299, 334, ...",NaN,"[(341, 0.0), (315, 0.0), (334, 1.0)]","[(289, 0.0), (301, 0.0), (334, 0.0)]","[0.0, 0.0, 1.0]","[0.0, 0.0, 0.0]","[341, 315, 334]","[289, 301, 334]",0.625,0.750
99995,13868,10.0,C,NaN,NaN,NaN,341.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99996,13868,24.0,Q,15741,0.0,"[130920, 125203, 130933, 130916, 130930, 13092...",NaN,"[(130920, 1.0), (130926, 1.0), (130922, 0.0)]","[(130929, 1.0), (130930, 0.0), (130922, 0.0)]","[1.0, 1.0, 0.0]","[1.0, 0.0, 0.0]","[130920, 130926, 130922]","[130929, 130930, 130922]",0.500,0.625
99997,13868,36.0,Q,15775,0.0,"[411, 414, 131186, 131189, 131188, 131184, 131...",NaN,"[(131186, 1.0), (131188, 0.0), (131191, 1.0)]","[(414, 1.0), (131190, 1.0), (131185, 0.0)]","[1.0, 0.0, 1.0]","[1.0, 1.0, 0.0]","[131186, 131188, 131191]","[414, 131190, 131185]",0.500,0.500
99998,13868,39.0,C,NaN,NaN,NaN,411.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99999,13869,0.0,Q,74,0.0,"[771, 726, 778, 729, 704, 740, 687, 739, 684, ...",NaN,"[(687, 1.0), (739, 0.0), (778, 1.0)]","[(740, 0.0), (739, 0.0), (687, 1.0)]","[1.0, 0.0, 1.0]","[0.0, 0.0, 1.0]","[687, 739, 778]","[740, 739, 687]",0.500,0.625

In [ ]:
def teamdraft():

### QUESTOINS 
    -how do we do the step one