### Information Retrieval   |    Assignment 1-B

Step 1:

In [4]:
import pandas as pd
import numpy as np
import sys
import os

In [43]:
df_raw = pd.read_table('YandexRelPredChallenge.txt', delimiter="\t",index_col=None, 
                 header=0,names=['SessionID', 'TimePassed','TypeOfAction', 'QueryID','RegionID', 'ListOfURLs', 'URLID',
                                 '1','2','3','4','5',"6",'7','8'])
df_raw

In [95]:
# Open file    
fileHandler = open ('YandexRelPredChallenge.txt', "r")
# Get list of all lines in file
listOfLines = fileHandler.readlines()
# Close file 
fileHandler.close()
#Empty frame to fill in
index=[x for x in range(0,100000)]
df = pd.DataFrame(index=index, columns=['SessionID', 'TimePassed',
                 'TypeOfAction', 'QueryID','RegionID', 'ListOfURLs', 'URLID'])
df.name='data'

# Iterate over the lines and fill in the dataframe
for ind, line in zip(index, listOfLines):
#     print('index')
    line = line.strip().split()
    if line[2]=='Q':

        df.loc[ind] = pd.Series({'SessionID':line[0], 'TimePassed':line[1], 'TypeOfAction':line[2],
                                     'QueryID':line[3],'RegionID':line[4], 'ListOfURLs':line[5:], 'URLID':np.nan})
    else:
        df.loc[ind] = pd.Series({'SessionID':line[0], 'TimePassed':line[1], 'TypeOfAction':line[2],
                                     'QueryID':np.nan,'RegionID':np.nan, 'ListOfURLs':np.nan, 'URLID':line[3:]})

In [100]:
# Getting the types right. 
df.SessionID = df.SessionID.astype(int)
df.TimePassed = df.TimePassed.astype(int)
df.TypeOfAction = df.TypeOfAction.astype(str)
df.RegionID = df.RegionID.astype(float)
df.TimePassed = df.TimePassed.astype(float)
def parse_ulrid(x):
    if type(x)==list:
        return x[0]
    else:
        return x
df.URLID = df.URLID.apply(parse_ulrid)

In [115]:
df

,SessionID,TimePassed,TypeOfAction,QueryID,RegionID,ListOfURLs,URLID
0,0,0.0,Q,8,0.0,"[7, 103, 51, 92, 43, 12, 73, 69, 27, 105]",NaN
1,0,36.0,Q,174,0.0,"[1625, 1627, 1623, 1626, 1624, 1622, 1619, 162...",NaN
2,0,50.0,Q,227,0.0,"[2094, 2091, 2087, 2089, 2093, 2088, 2090, 209...",NaN
3,0,515.0,Q,174,0.0,"[1625, 1627, 1623, 1626, 1624, 1622, 1619, 162...",NaN
4,0,524.0,Q,1974,0.0,"[17562, 1627, 1626, 1623, 2091, 17559, 17563, ...",NaN
5,0,527.0,C,NaN,NaN,NaN,17562
6,0,528.0,C,NaN,NaN,NaN,1627
7,0,529.0,C,NaN,NaN,NaN,1626
8,1,0.0,Q,9,0.0,"[13, 70, 66, 94, 50, 104, 29, 21, 89, 85]",NaN
9,1,20.0,C,NaN,NaN,NaN,104
10,1,123.0,C,NaN,NaN,NaN,21
11,1,291.0,Q,1324,0.0,"[11807, 11805, 11812, 11813, 11804, 11809, 118...",NaN
12,1,301.0,C,NaN,NaN,NaN,11813
13,1,8605.0,C,NaN,NaN,NaN,11808
14,1,8737.0,C,NaN,NaN,NaN,11810
15,1,8884.0,C,NaN,NaN,NaN,11811
16,2,0.0,Q,7,0.0,"[77, 93, 55, 86, 64, 67, 76, 98, 18, 54]",NaN
17,2,11.0,C,NaN,NaN,NaN,18
18,2,1122.0,Q,4088,0.0,"[35554, 35561, 35562, 35556, 35557, 35567, 355...",NaN
19,2,1127.0,C,NaN,NaN,NaN,35561
20,2,1645.0,Q,5863,0.0,"[36505, 36514, 36508, 36509, 50480, 36510, 365...",NaN
21,2,1646.0,C,NaN,NaN,NaN,36505
22,3,0.0,Q,1,0.0,"[15, 32, 0, 9, 80, 30, 88, 82, 97, 65]",NaN
23,3,40.0,Q,32,0.0,"[314, 230, 338, 282, 335, 257, 216, 241, 342, ...",NaN
24,3,95.0,Q,431,0.0,"[3884, 0, 3887, 3888, 3889, 3885, 3882, 3881, ...",NaN
25,3,103.0,C,NaN,NaN,NaN,3884
26,3,7367.0,Q,23323,0.0,"[191148, 191149, 191144, 191145, 191151, 19114...",NaN
27,3,7377.0,C,NaN,NaN,NaN,191148
28,4,0.0,Q,5,0.0,"[99, 16, 87, 39, 100, 6, 36, 52, 81, 84]",NaN
29,4,6.0,C,NaN,NaN,NaN,84
...,...,...,...,...,...,...,...
99970,13865,748.0,C,NaN,NaN,NaN,146275
99971,13865,892.0,Q,17653,1.0,"[146275, 146276, 146279, 146280, 146273, 14628...",NaN
99972,13865,926.0,C,NaN,NaN,NaN,146279
99973,13865,1022.0,C,NaN,NaN,NaN,146280
99974,13865,1044.0,C,NaN,NaN,NaN,146273
99975,13865,1831.0,Q,17653,1.0,"[146275, 146276, 146279, 146280, 146273, 14628...",NaN
99976,13865,1837.0,C,NaN,NaN,NaN,146275
99977,13865,2063.0,C,NaN,NaN,NaN,146275
99978,13865,2236.0,C,NaN,NaN,NaN,146280
99979,13865,2298.0,C,NaN,NaN,NaN,146278
99980,13865,2457.0,C,NaN,NaN,NaN,146277
99981,13865,2550.0,C,NaN,NaN,NaN,146274
99982,13866,0.0,Q,66,0.0,"[353, 348, 384, 414, 610, 410, 372, 656, 594, ...",NaN
99983,13866,66.0,C,NaN,NaN,NaN,353
99984,13867,0.0,Q,2459,0.0,"[10796, 21767, 21770, 7679, 21769, 21768, 8253...",NaN
99985,13867,3.0,C,NaN,NaN,NaN,10796
99986,13867,120.0,C,NaN,NaN,NaN,21767
99987,13867,157.0,C,NaN,NaN,NaN,21770
99988,13867,432.0,C,NaN,NaN,NaN,7679
99989,13867,895.0,Q,18819,0.0,"[93996, 64139, 155559, 155562, 52896, 155561, ...",NaN
99990,13867,898.0,C,NaN,NaN,NaN,93996
99991,13867,1093.0,C,NaN,NaN,NaN,64139
99992,13867,1176.0,C,NaN,NaN,NaN,155559
99993,13867,1822.0,C,NaN,NaN,NaN,52896
99994,13868,0.0,Q,26,0.0,"[341, 246, 233, 280, 289, 301, 277, 299, 334, ...",NaN
99995,13868,10.0,C,NaN,NaN,NaN,341
99996,13868,24.0,Q,15741,0.0,"[130920, 125203, 130933, 130916, 130930, 13092...",NaN
99997,13868,36.0,Q,15775,0.0,"[411, 414, 131186, 131189, 131188, 131184, 131...",NaN
99998,13868,39.0,C,NaN,NaN,NaN,411
99999,13869,0.0,Q,74,0.0,"[771, 726, 778, 729, 704, 740, 687, 739, 684, ...",NaN

In [116]:
test = df[df.SessionID==0]

So lets say that our experimental system is what Yandex return as a list now. Production or the system that is going to 'suck' (sort of a dumb system that we are going to compare against) will be constructed as shuffling each ranking for a query.